/* Start Home */

@media only screen and (max-width:1200px) {
    /* Start Sec1 */
    .sec-1 {
        background-image: url("../img/section/sec1/sec1res2.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: .5s all ease-in-out;
    }
    .sec-1 .title h1 {
        font-size: 95px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .title p {
        font-size: 19px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search h2 {
        font-size: 45px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search p {
        font-size: 18px;
        transition: .5s all ease-in-out;
    }
    /* End Sec1 */
    /* Start Sec2 */
    .sec-2 {
        height: 500px;
        transition: .5s all ease-in-out;
    }
    .sec-2 .title h2 {
        font-size: 65px;
        transition: .5s all ease-in-out;
    }
    .sec-2 img {
        width: 280px;
        height: 260px;
        transition: .5s all ease-in-out;
    }
    .sec-2 .img-title {
        width: 280px;
        height: 260px;
        transition: .5s all ease-in-out;
    }
    .sec-2 .img-title h5 {
        font-size: 19px !important;
        transition: .5s all ease-in-out;
    }
    .sec-2 .img-title p {
        font-size: 16px !important;
        transition: .5s all ease-in-out;
    }
    .carousel-indicators {
        bottom: -50px !important;
    }
    .carousel-indicators [data-bs-target] {
        width: 9px !important;
        height: 9px !important;
        border: none;
        border-radius: 9px;
        transition: .5s all ease-in-out;
    }
    .sec-2 .more {
        margin: 65px 0;
    }
    .sec-2 span a {
        font-size: 17px;
        transition: .5s all ease-in-out;
    }
    /* End Sec2 */
    /* Start Sec3 */
    .sec-3 {
        background-image: url("../img/section/sec3/sec3res2.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts {
        padding: 75px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .nfts-img {
        padding: 75px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .nfts-img img {
        width: 330px;
        height: 273px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts h2 {
        font-size: 60px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts p {
        font-size: 17px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts button {
        width: 90px;
        height: 35px;
        font-size: 13px;
    }
    /* End Sec3 */
    /* Start Sce4 */
    .sec-4 .title h3 {
        font-size: 40px;
        transition: .5s all ease-in-out;
    }
    .sec-4 p {
        font-size: 17px;
        transition: .5s all ease-in-out;
    }
    /* End Sec4 */
}

@media only screen and (max-width:992px) {
    /* Start Navbar */
    header .navbars li {
        padding: 0 3px !important;
        transition: .5s all ease-in-out;
    }
    /* End Navbar */
    /* Start Sec1 */
    .sec-1 {
        background-image: url("../img/section/sec1/sec1res3.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: .5s all ease-in-out;
    }
    .sec-1 .title h1 {
        font-size: 85px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .title p {
        font-size: 18px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search {
        height: 400px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search h2 {
        font-size: 40px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search p {
        font-size: 17px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search .search-box {
        margin-top: 55px;
    }
    .sec-1 .search .form-control {
        font-size: 15px;
        transition: .5s all ease-in-out;
    }
    /* End Sec1 */
    /* Start Sec2 */
    .sec-2 {
        height: 445px;
        transition: .5s all ease-in-out;
    }
    .sec-2 .title h2 {
        font-size: 55px;
        transition: .5s all ease-in-out;
    }
    .sec-2 img {
        width: 240px;
        height: 220px;
        transition: .5s all ease-in-out;
    }
    .sec-2 .img-title {
        width: 240px;
        height: 220px;
        transition: .5s all ease-in-out;
    }
    .sec-2 .img-title h5 {
        font-size: 18px !important;
        transition: .5s all ease-in-out;
    }
    .sec-2 .img-title p {
        font-size: 15px !important;
        transition: .5s all ease-in-out;
    }
    .carousel-indicators {
        bottom: -48px !important;
    }
    .carousel-indicators [data-bs-target] {
        width: 8px !important;
        height: 8px !important;
        border: none;
        border-radius: 8px;
        transition: .5s all ease-in-out;
    }
    .sec-2 .more {
        margin: 63px 0;
    }
    .sec-2 span a {
        font-size: 16px;
        transition: .5s all ease-in-out;
    }
    /* End Sec2 */
    /* Start Sec3 */
    .sec-3 {
        background-image: url("../img/section/sec3/sec3res3.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts {
        padding: 60px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .nfts-img {
        padding: 60px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .nfts-img img {
        width: 310px;
        height: 253px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts h2 {
        font-size: 50px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts p {
        font-size: 16px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts button {
        width: 88px;
        height: 33px;
        font-size: 12px;
    }
    /* End Sec3 */
    /* Start Sce4 */
    .sec-4 .title h3 {
        font-size: 35px;
        transition: .5s all ease-in-out;
    }
    .sec-4 p {
        font-size: 16px;
        transition: .5s all ease-in-out;
    }
    /* End Sec4 */
}

@media only screen and (max-width:850px) {
    /* Start Navbar */
    header .navbars h1 {
        font-size: 23px;
        transition: .5s all ease-in-out;
    }
    header .navbars img {
        width: 29px;
        height: 29px;
        transition: .5s all ease-in-out;
    }
    header .navbars li {
        padding: 0 0 !important;
        transition: .5s all ease-in-out;
    }
    header .navbars a {
        font-size: 15px;
        transition: .5s all ease-in-out;
    }
    header #login p {
        font-size: 13px;
        transition: .5s all ease-in-out;
    }
    /* End Navbar */
    /* Start Sec2 */
    .sec-2 {
        height: 420px;
    }
    .sec-2 img {
        width: 220px;
        height: 200px;
        transition: .5s all ease-in-out;
    }
    .sec-2 .img-title {
        width: 220px;
        height: 200px;
        transition: .5s all ease-in-out;
    }
    .sec-2 .img-title h5 {
        font-size: 17px !important;
        transition: .5s all ease-in-out;
    }
    .sec-2 .img-title p {
        font-size: 14px !important;
        transition: .5s all ease-in-out;
    }
    .carousel-indicators {
        bottom: -46px !important;
    }
    .carousel-indicators [data-bs-target] {
        width: 7px !important;
        height: 7px !important;
        border: none;
        border-radius: 7px;
        transition: .5s all ease-in-out;
    }
    .sec-2 .more {
        margin: 61px 0;
    }
    /* End Sec2 */
    /* Start Sec4 */
    .sec-4 .title h3 {
        font-size: 32px;
        transition: .5s all ease-in-out;
    }
    .sec-4 p {
        font-size: 15px;
        transition: .5s all ease-in-out;
    }
    /* End Sec4 */
}

@media only screen and (max-width:768px) {
    /* Start Navbar */
    header .navbars {
        direction: ltr;
    }
    header .navbars .navbar-toggler {
        width: 50px;
        height: 30px;
    }
    header .navbars .navbar-toggler {
        margin: 0 !important;
        padding: 0 !important;
    }
    header .navbars h1 {
        direction: ltr;
        font-size: 24px;
    }
    header .navbars img {
        width: 30px;
        height: 30px;
        transition: .5s all ease-in-out;
    }
    header .navbars ul {
        direction: ltr;
    }
    header .navbars li {
        padding: 0px 2px !important;
    }
    header .navbars a {
        font-size: 15px;
    }
    header .navbars #login {
        direction: ltr;
        margin-top: 10px;
    }
    header #login p {
        font-size: 14px;
        transition: .5s all ease-in-out;
    }
    /* End Navbar */
    /* Start Sec1 */
    .sec-1 {
        height: 700px;
        background-image: url("../img/section/sec1/sec1res4.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: .5s all ease-in-out;
    }
    .sec-1 .title h1 {
        font-size: 75px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .title p {
        font-size: 17px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search {
        width: 75%;
        height: 370px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search h2 {
        font-size: 33px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search p {
        font-size: 16px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search .search-box {
        margin-top: 50px;
    }
    .sec-1 .search .form-control {
        padding: 14px;
        font-size: 14px;
        transition: .5s all ease-in-out;
    }
    /* End Sec1 */
    /* Start Sec2 */
    .sec-2 {
        height: 1300px;
        background-image: url("../img/section/sec2/sec2res.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: .5s all ease-in-out;
    }
    .sec-2 .title h2 {
        font-size: 50px;
        transition: .5s all ease-in-out;
    }
    .sec-2 .carousel-item {
        display: block !important;
    }
    .sec-2 img {
        width: 360px;
        height: 340px;
        margin: 0 auto 30px auto;
        transition: .5s all ease-in-out;
    }
    .sec-2 .img-title {
        display: none;
    }
    .sec-2 .carousel-indicators {
        bottom: -20px !important;
    }
    .sec-2 .carousel-indicators [data-bs-target] {
        width: 8px !important;
        height: 8px !important;
        border: none;
        border-radius: 8px;
        transition: .5s all ease-in-out;
    }
    .sec-2 .more {
        margin: 35px 0;
    }
    .sec-2 span a {
        font-size: 15px;
        transition: .5s all ease-in-out;
    }
    /* End Sec2 */
    /* Start Sec3 */
    .sec-3 {
        height: 550px;
        background-image: url("../img/section/sec3/sec3res4.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        text-align: center;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts {
        height: 250px;
        padding: 0 60px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .nfts-img {
        height: 250px;
        padding: 0 60px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .nfts-img img {
        width: 290px;
        height: 233px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts h2 {
        padding: 20px !important;
        font-size: 50px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts p {
        padding: 0 !important;
        font-size: 16px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts button {
        font-size: 12px;
    }
    /* End Sec3 */
    /* Start Sec4 */
    .sec-4 .braider {
        background-image: url("../img/section/sec4/sec4res.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 560px;
        transition: .5s all ease-in-out;
    }
    .sec-4 .customer {
        background-image: url("../img/section/sec4/sec4-2res.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 560px;
        transition: .5s all ease-in-out;
    }
    .sec-4 .col-md-4 {
        flex: 0 0 auto !important;
        width: 50% !important;
        height: 120px;
    }
    .sec-4 .title h3 {
        font-size: 32px;
        transition: .5s all ease-in-out;
    }
    .sec-4 p {
        font-size: 15px;
        transition: .5s all ease-in-out;
    }
    /* End Sec4 */
    /* Start Footer */
    footer .menu ul li h1 {
        font-size: 16px;
        transition: .5s all ease-in-out;
    }
    footer .menu ul li a {
        font-size: 14px;
        transition: .5s all ease-in-out;
    }
    footer .icon svg {
        font-size: 23px;
        transition: .5s all ease-in-out;
    }
    /* End Footer */
}

@media only screen and (max-width:576px) {
    /* Start Navbar */
    header .navbars .navbar-toggler {
        width: 45px;
        height: 30px;
        transition: .5s all ease-in-out;
    }
    header .navbars h1 {
        direction: ltr;
        font-size: 23px;
    }
    header .navbars img {
        width: 29px;
        height: 29px;
        transition: .5s all ease-in-out;
    }
    header .navbars a {
        font-size: 14px;
    }
    header #login p {
        font-size: 13px;
        transition: .5s all ease-in-out;
    }
    /* End Navbar */
    /* Start Sec1 */
    .sec-1 {
        height: 650px;
        background-image: url("../img/section/sec1/sec1res5.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: .5s all ease-in-out;
    }
    .sec-1 .title {
        padding: 35px;
    }
    .sec-1 .title h1 {
        font-size: 65px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .title p {
        font-size: 16px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search {
        height: 340px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search h2 {
        font-size: 30px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search p {
        font-size: 15px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search .search-box {
        margin-top: 45px;
    }
    .sec-1 .search .form-control {
        padding: 14px;
        font-size: 13px;
        transition: .5s all ease-in-out;
    }
    /* End Sec1 */
    /* Start Sec2 */
    .sec-2 {
        height: 1155px;
        transition: .5s all ease-in-out;
    }
    .sec-2 .title h2 {
        font-size: 45px;
        transition: .5s all ease-in-out;
    }
    .sec-2 img {
        width: 320px;
        height: 300px;
        margin: 0 auto 30px auto;
        transition: .5s all ease-in-out;
    }
    .sec-2 .carousel-indicators {
        bottom: -15px !important;
    }
    .sec-2 .carousel-indicators [data-bs-target] {
        width: 7px !important;
        height: 7px !important;
        border: none;
        border-radius: 7px;
        transition: .5s all ease-in-out;
    }
    .sec-2 .more {
        margin: 20px 0;
    }
    .sec-2 span a {
        font-size: 14px;
        transition: .5s all ease-in-out;
    }
    /* End Sec2 */
    /* Start Sec3 */
    .sec-3 {
        height: 550px;
        background-image: url("../img/section/sec3/sec3res5.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        text-align: center;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts {
        height: 250px;
        padding: 0 60px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .nfts-img {
        height: 250px;
        padding: 0 60px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .nfts-img img {
        width: 270px;
        height: 213px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts h2 {
        padding: 20px !important;
        font-size: 45px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts p {
        padding: 0 !important;
        font-size: 15px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts button {
        font-size: 11px;
    }
    /* End Sec3 */
    /* Start Sec4 */
    .sec-4 .braider {
        width: 100%;
        height: 530px;
        transition: .5s all ease-in-out;
    }
    .sec-4 .customer {
        width: 100%;
        height: 530px;
        transition: .5s all ease-in-out;
    }
    .sec-4 .col-md-4 {
        flex: 0 0 auto !important;
        width: 50% !important;
        height: 110px;
    }
    .sec-4 .title h3 {
        font-size: 30px;
        transition: .5s all ease-in-out;
    }
    .sec-4 p {
        font-size: 14px;
        transition: .5s all ease-in-out;
    }
    /* End Sec4 */
    /* Start Footer */
    footer .menu {
        height: 480px;
    }
    footer .menu ul {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* End Footer */
}

@media only screen and (max-width:555px) {
    /* Start Sec1 */
    .sec-1 {
        height: 600px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .title h1 {
        font-size: 55px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .title p {
        font-size: 15px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search {
        width: 80%;
        height: 310px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search h2 {
        font-size: 27px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search p {
        font-size: 14px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search .search-box {
        margin-top: 40px;
    }
    .sec-1 .search .form-control {
        padding: 13px;
        font-size: 12px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search .btn {
        padding: 0 18px;
    }
    /* End Sec1 */
}

@media only screen and (max-width:492px) {
    /* Start Navbar */
    header .navbars .navbar-toggler {
        width: 40px;
        height: 30px;
        transition: .5s all ease-in-out;
    }
    header .navbars h1 {
        direction: ltr;
        font-size: 22px;
    }
    header .navbars img {
        width: 28px;
        height: 28px;
        transition: .5s all ease-in-out;
    }
    header .navbars a {
        font-size: 13px;
    }
    header #login p {
        font-size: 12px;
        transition: .5s all ease-in-out;
    }
    /* End Navbar */
    /* Start Sec1 */
    .sec-1 {
        height: 550px;
        background-image: url("../img/section/sec1/sec1res6.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: .5s all ease-in-out;
    }
    .sec-1 .title {
        padding: 30px;
    }
    .sec-1 .title h1 {
        font-size: 45px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .title p {
        font-size: 14px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search {
        height: 280px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search h2 {
        padding-top: 25px;
        padding-bottom: 15px;
        font-size: 24px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search p {
        font-size: 13px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search .search-box {
        margin-top: 35px;
    }
    .sec-1 .search .form-control {
        padding: 12px;
        font-size: 11px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search .btn {
        padding: 0 16px;
    }
    /* End Sec1 */
    /* Start Sec2 */
    .sec-2 {
        height: 1010px;
        transition: .5s all ease-in-out;
    }
    .sec-2 .title h2 {
        font-size: 40px;
        transition: .5s all ease-in-out;
    }
    .sec-2 img {
        width: 280px;
        height: 260px;
        margin: 0 auto 30px auto;
        transition: .5s all ease-in-out;
    }
    .sec-2 .carousel-indicators {
        bottom: -10px !important;
    }
    .sec-2 .more {
        margin: 5px 0;
    }
    .sec-2 span a {
        font-size: 13px;
        transition: .5s all ease-in-out;
    }
    /* End Sec2 */
    /* Start Sec3 */
    .sec-3 {
        height: 500px;
        background-image: url("../img/section/sec3/sec3res6.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        text-align: center;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts {
        height: 230px;
        padding: 0 60px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .nfts-img {
        height: 230px;
        padding: 0 60px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .nfts-img img {
        width: 250px;
        height: 193px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts h2 {
        padding: 20px !important;
        font-size: 40px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts p {
        padding: 0 !important;
        font-size: 14px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts button {
        width: 86px;
        height: 31px;
        font-size: 10px;
    }
    /* End Sec3 */
    /* Start Sec4 */
    .sec-4 .braider {
        width: 100%;
        height: 520px;
        transition: .5s all ease-in-out;
    }
    .sec-4 .customer {
        width: 100%;
        height: 520px;
        transition: .5s all ease-in-out;
    }
    .sec-4 .col-md-4 {
        flex: 0 0 auto !important;
        width: 50% !important;
        height: 100px;
    }
    .sec-4 .title h3 {
        font-size: 28px;
        transition: .5s all ease-in-out;
    }
    .sec-4 p {
        font-size: 13px;
        transition: .5s all ease-in-out;
    }
    /* End Sec4 */
    /* Start Footer */
    footer .menu ul li h1 {
        font-size: 15px;
        transition: .5s all ease-in-out;
    }
    footer .menu ul li a {
        font-size: 13px;
        transition: .5s all ease-in-out;
    }
    footer .icon svg {
        font-size: 21px;
        transition: .5s all ease-in-out;
    }
    /* End Footer */
}

@media only screen and (max-width:455px) {
    /* Start Navbar */
    header .navbars .navbar-toggler {
        width: 38px;
        height: 30px;
        transition: .5s all ease-in-out;
    }
    /* End Navbar */
    /* Start Sec1 */
    .sec-1 {
        height: 500px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .title h1 {
        font-size: 35px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .title p {
        font-size: 13px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search {
        height: 240px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search h2 {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 21px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search p {
        font-size: 12px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search .search-box {
        margin-top: 25px;
    }
    .sec-1 .search .form-control {
        padding: 11px;
        font-size: 10px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search .btn {
        padding: 0 14px;
    }
    /* End Sec1 */
    /* Start Sec2 */
    .sec-2 {
        height: 940px;
        transition: .5s all ease-in-out;
    }
    .sec-2 .title h2 {
        font-size: 35px;
        transition: .5s all ease-in-out;
    }
    .sec-2 img {
        width: 260px;
        height: 240px;
        transition: .5s all ease-in-out;
    }
    .sec-2 .carousel-indicators {
        bottom: -8px !important;
    }
    .sec-2 .more {
        margin: 2px 0;
    }
    .sec-2 span a {
        font-size: 12px;
        transition: .5s all ease-in-out;
    }
    /* End Sec2 */
    /* Start Sec3 */
    .sec-3 {
        height: 475px;
        text-align: center;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts {
        height: 220px;
        padding: 0 50px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .nfts-img {
        height: 220px;
        padding: 0 50px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .nfts-img img {
        width: 230px;
        height: 173px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts h2 {
        padding: 20px !important;
        font-size: 35px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts p {
        padding: 0 !important;
        font-size: 13px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts button {
        width: 86px;
        height: 31px;
        font-size: 10px;
    }
    /* End Sec3 */
}

@media only screen and (max-width:395px) {
    /* Start Navbar */
    header .navbars h1 {
        direction: ltr;
        font-size: 21px;
    }
    header .navbars img {
        width: 27px;
        height: 27px;
        transition: .5s all ease-in-out;
    }
    header .navbars a {
        font-size: 12px;
    }
    header #login p {
        font-size: 11px;
        transition: .5s all ease-in-out;
    }
    /* End Navbar */
    /* Start Sec1 */
    .sec-1 {
        height: 460px;
        background-image: url("../img/section/sec1/sec1res7.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: .5s all ease-in-out;
    }
    .sec-1 .title {
        padding: 25px;
    }
    .sec-1 .title p {
        font-size: 12px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search {
        height: 220px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search h2 {
        font-size: 18px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search p {
        font-size: 11px;
        transition: .5s all ease-in-out;
    }
    .sec-1 .search .search-box {
        margin-top: 20px;
    }
    .sec-1 .search .form-control {
        padding: 10px;
        font-size: 9px;
        transition: .5s all ease-in-out;
    }
    /* End Sec1 */
    /* Start Sec2 */
    .sec-2 {
        height: 870px;
        transition: .5s all ease-in-out;
    }
    .sec-2 .title h2 {
        font-size: 30px;
        transition: .5s all ease-in-out;
    }
    .sec-2 span a {
        font-size: 11px;
        transition: .5s all ease-in-out;
    }
    .sec-2 img {
        width: 240px;
        height: 220px;
        transition: .5s all ease-in-out;
    }
    .sec-2 .carousel-indicators {
        bottom: -6px !important;
    }
    .sec-2 .carousel-indicators [data-bs-target] {
        width: 6px !important;
        height: 6px !important;
        border: none;
        border-radius: 6px;
        transition: .5s all ease-in-out;
    }
    .sec-2 .more {
        margin: -1px 0;
    }
    /* End Sec2 */
    /* Start Sec3 */
    .sec-3 {
        height: 450px;
        background-image: url("../img/section/sec3/sec3res7.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        text-align: center;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts {
        height: 210px;
        padding: 0 50px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .nfts-img {
        height: 210px;
        padding: 0 50px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .nfts-img img {
        width: 210px;
        height: 153px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts h2 {
        padding: 20px !important;
        font-size: 30px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts p {
        padding: 0 !important;
        font-size: 12px;
        transition: .5s all ease-in-out;
    }
    .sec-3 .intro-nfts button {
        width: 84px;
        height: 29px;
        font-size: 9px;
    }
    /* End Sec3 */
    /* Start Sec4 */
    .sec-4 .braider {
        width: 100%;
        height: 490px;
        transition: .5s all ease-in-out;
    }
    .sec-4 .customer {
        width: 100%;
        height: 490px;
        transition: .5s all ease-in-out;
    }
    .sec-4 .col-md-4 {
        flex: 0 0 auto !important;
        width: 50% !important;
        height: 90px;
    }
    .sec-4 .title h3 {
        font-size: 26px;
        transition: .5s all ease-in-out;
    }
    .sec-4 p {
        font-size: 12px;
        transition: .5s all ease-in-out;
    }
    /* End Sec4 */
    /* Start Footer */
    footer .menu ul li h1 {
        font-size: 14px;
        transition: .5s all ease-in-out;
    }
    footer .menu ul li a {
        font-size: 12px;
        transition: .5s all ease-in-out;
    }
    footer .icon svg {
        font-size: 19px;
        transition: .5s all ease-in-out;
    }
    /* End Footer */
}


/* End Home */


/* Start Collection */

@media only screen and (max-width:1200px) {
    .sec-5 .title h1 {
        font-size: 95px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .details .description p {
        font-size: 14px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .details .profile img {
        width: 50px;
        height: 50px;
        transition: .5s all ease-in-out;
    }
}

@media only screen and (max-width:992px) {
    .sec-5 .title h1 {
        font-size: 85px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .details .description p {
        font-size: 12px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .details .profile img {
        width: 40px;
        height: 40px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .collection .search .form-control {
        font-size: 15px;
        transition: .5s all ease-in-out;
    }
}

@media only screen and (max-width:850px) {
    .sec-5 .details .description p {
        font-size: 10px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .details .profile img {
        width: 35px;
        height: 35px;
        transition: .5s all ease-in-out;
    }
}

@media only screen and (max-width:768px) {
    .sec-5 .collection {
        height: 270px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .title h1 {
        font-size: 75px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .img-collection {
        text-align: center;
    }
    .sec-5 .img-collection img {
        width: 70%;
        height: 70%;
    }
    .sec-5 .details {
        width: 70%;
        margin: 8px auto 20px auto;
    }
    .sec-5 .details .description p {
        font-size: 14px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .details .profile img {
        width: 50px;
        height: 50px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .collection .search .form-control {
        padding: 14px !important;
        font-size: 14px;
        transition: .5s all ease-in-out;
    }
}

@media only screen and (max-width:576px) {
    .sec-5 .collection {
        height: 240px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .title {
        padding: 35px 35px 15px 35px;
    }
    .sec-5 .title h1 {
        font-size: 65px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .img-collection img {
        width: 75%;
        height: 75%;
    }
    .sec-5 .details {
        width: 75%;
        margin: 8px auto 20px auto;
    }
    .sec-5 .details .description p {
        font-size: 13px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .details .profile img {
        width: 45px;
        height: 45px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .collection .search .form-control {
        padding: 13px !important;
        font-size: 13px;
        transition: .5s all ease-in-out;
    }
}

@media only screen and (max-width:555px) {
    .sec-5 .collection {
        height: 230px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .title h1 {
        font-size: 55px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .collection .search .form-control {
        padding: 12px !important;
        font-size: 12px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .search .btn {
        padding: 0 18px !important;
    }
}

@media only screen and (max-width:492px) {
    .sec-5 .collection {
        height: 200px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .title {
        padding: 30px 30px 10px 30px;
    }
    .sec-5 .title h1 {
        font-size: 45px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .details .description p {
        font-size: 12px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .details .profile img {
        width: 40px;
        height: 40px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .collection .search .form-control {
        padding: 11px !important;
        font-size: 11px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .search .btn {
        padding: 0 16px !important;
    }
}

@media only screen and (max-width:455px) {
    .sec-5 .collection {
        height: 170px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .title h1 {
        font-size: 35px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .collection .form-control {
        padding: 10px !important;
        font-size: 10px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .search .btn {
        padding: 0 14px !important;
    }
}

@media only screen and (max-width:395px) {
    .sec-5 .collection {
        height: 140px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .title {
        padding: 20px 20px 5px 20px;
    }
    .sec-5 .img-collection img {
        width: 80%;
        height: 80%;
    }
    .sec-5 .details {
        width: 80%;
        margin: 8px auto 20px auto;
    }
    .sec-5 .details .description p {
        font-size: 11px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .details .profile img {
        width: 35px;
        height: 35px;
        transition: .5s all ease-in-out;
    }
    .sec-5 .collection .search .form-control {
        padding: 9px !important;
        font-size: 9px;
        transition: .5s all ease-in-out;
    }
}