/* Main color #1b1c1e
Secend color #ececeb
Third color #bfbfbf
other #5d0088 & #003380
width,height,background,margin,padding,font*/


/* Start General Setting */

@font-face {
    font-family: Open Sans regular;
    src: url("../Fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: Open Sans bold;
    src: url("../Fonts/OpenSans-Semibold.ttf");
}

body {
    font-family: Open Sans regular;
    background-color: #1b1c1e;
}


/* End General Setting */


/* Start Navbar */

header .container {
    max-width: 1450px !important;
}

header .navbars {
    background-color: #1b1c1e !important;
}

header .navbars .navbar-toggler {
    background-color: #bfbfbf;
    transition: 0.3s;
}

header .navbars .navbar-toggler:hover {
    background-color: #ececeb;
    transition: 0.3s;
}

header .navbars h1 {
    color: #ececeb !important;
    margin: auto 0;
    font-size: 24px;
    font-family: Open Sans bold;
}

header .navbars img {
    width: 30px;
    height: 30px;
    margin: -5px 10px auto 0;
}

header .navbars ul {
    margin: auto !important;
}

header .navbars li {
    padding: 2px 8px !important;
}

header .navbars a {
    color: #bfbfbf !important;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s;
}

header .navbars a:hover {
    color: #ececeb !important;
    transition: 0.3s;
}

header #login p {
    display: inline;
    color: #ececeb;
    padding: 0 2px;
    font-size: 14px;
}


/* End Navbar */


/* Start Sec7,Sec8,Sec9,Sec10 */

.sec-7 {
    width: 100%;
    height: 400px;
    background-image: url("../img/section/Sec7/sec7.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sec-7 .nfts-img {
    width: 320px;
    height: 270px;
    float: right;
    margin: 60px 170px 0 0;
}

.sec-8,
.sec-9,
.sec-10 {
    width: 100%;
    background-color: #ececeb;
    margin-top: 12px;
    padding-bottom: 30px;
}

.sec-8 .row,
.sec-9 .row,
.sec-10 .row {
    margin: 0 !important;
}

.sec-8 h2,
.sec-9 h2,
.sec-10 h2 {
    padding: 10px 0 5px 20px;
    font-size: 30px;
    font-weight: bold;
}

.sec-8 a,
.sec-9 a,
.sec-10 a {
    text-decoration: none;
}

.sec-8 .nfts,
.sec-9 .nfts,
.sec-10 .nfts {
    width: 100%;
    height: 96%;
    background-color: #1b1c1e;
    border-radius: 20px;
}

.sec-8 .nfts .nfts-collection,
.sec-9 .nfts .nfts-collection,
.sec-10 .nfts .nfts-collection {
    padding: 15px;
}

.sec-8 .nfts .nfts-collection img,
.sec-9 .nfts .nfts-collection img,
.sec-10 .nfts .nfts-collection img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.sec-8 .nfts .nfts-collection h3,
.sec-9 .nfts .nfts-collection h3,
.sec-10 .nfts .nfts-collection h3 {
    color: #ececeb;
    padding: 10px 0 0 10px;
    font-size: 30px;
    font-weight: bold;
}

.sec-8 .nfts .nfts-collection p,
.sec-9 .nfts .nfts-collection p,
.sec-10 .nfts .nfts-collection p {
    color: #ececeb;
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
}

.sec-8 .nfts .nfts-collection .eth img,
.sec-9 .nfts .nfts-collection .eth img,
.sec-10 .nfts .nfts-collection .eth img {
    width: 30px;
    margin-bottom: 5px;
}

.sec-10 .btn-np {
    display: flex;
    justify-content: center;
    margin: 30px 0 10px 0;
}

.sec-10 .btn-np a {
    color: #1b1c1e;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.sec-10 .btn-np a:hover {
    color: #bfbfbf;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.sec-10 .btn-np .next {
    margin: 0 10px;
    border: none;
    border-radius: 10px;
}

.sec-10 .btn-np .numbers {
    display: flex;
}

.sec-10 .btn-np .numbers .number {
    margin: 0 5px;
    border: none;
    border-radius: 10px;
}

.sec-10 .btn-np .previous {
    margin: 0 10px;
    border: none;
    border-radius: 10px;
}


/* End Sec7,Sec8,Sec9,Sec10 */


/* Start Footer */

footer .menu {
    width: 100%;
    height: 250px;
    background-color: #1b1c1e;
}

footer .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 35px;
    padding-left: 0px !important;
}

footer .menu ul li h1 {
    color: #ececeb;
    font-size: 17px;
    font-weight: bold;
}

footer .menu ul li a {
    color: #ececeb;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

footer .menu ul li a:hover {
    color: #bfbfbf;
    transition: 0.3s;
}

footer .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #bfbfbf !important;
    text-align: center;
}

footer .icon svg {
    color: #1b1c1e;
    padding: 0 8px;
    font-size: 25px;
    transition: 0.3s;
}

footer .icon svg:hover {
    color: #ececeb;
    transition: 0.3s;
}


/* End Footer */