/* Main color #1b1c1e
Secend color #ececeb
Third color #bfbfbf
other #5d0088 & #003380
width,height,background,margin,padding,font*/


/* Start General Setting */

@font-face {
    font-family: Open Sans regular;
    src: url("../Fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: Open Sans bold;
    src: url("../Fonts/OpenSans-Semibold.ttf");
}

body {
    width: 100%;
    height: 800px;
    background-image: url("../img/section/profile/bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #1b1c1e;
    font-family: Open Sans regular;
}


/* End General Setting */


/* Start Sec 20 */

.sec-20 .container {
    max-width: 1000px;
    background-color: rgba(236, 236, 235, 0.1);
    margin: 50px auto;
    padding: 30px;
    border-radius: 20px;
}

.sec-20 .upload {
    text-align: center;
}

.sec-20 .upload img {
    border-radius: 20px;
}

.sec-20 .upload h3 {
    color: #1b1c1e;
    margin-top: 10px;
    font-family: open sans bold;
    font-size: 25px;
}

.sec-20 label {
    color: #1b1c1e;
    font-family: open sans bold;
    font-size: 20px;
}

.sec-20 .details textarea {
    width: 100%;
    height: 200px;
    background-color: #1b1c1e;
    margin-bottom: 10px;
    color: #ececeb;
    resize: none;
    box-shadow: none;
    font-size: 16px;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: 0.3s;
}

.sec-20 .details textarea:focus {
    border: none;
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #5d0088;
    transition: 0.3s;
}

.sec-20 .details select {
    width: 50%;
    background-color: #1b1c1e;
    color: #ececeb;
    box-shadow: none;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    font-size: 17px;
    transition: 0.3s;
}

.sec-20 .details select:focus {
    border: none;
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #5d0088;
    transition: 0.3s;
}

.sec-20 .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-20 .btn button {
    background-color: #1b1c1e;
    color: #ececeb;
    width: 70px;
    margin: 10px 2px 0 2px;
    padding: 6px 8px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    transition: 0.3s;
}

.sec-20 .btn button:hover {
    color: #bfbfbf;
    transition: 0.3s;
}


/* Start Navbar */

header .container {
    max-width: 1450px !important;
}

header .navbars {
    background-color: #1b1c1e !important;
}

header .navbars .navbar-toggler {
    background-color: #bfbfbf;
    transition: 0.3s;
}

header .navbars .navbar-toggler:hover {
    background-color: #ececeb;
    transition: 0.3s;
}

header .navbars h1 {
    color: #ececeb !important;
    margin: auto 0;
    font-size: 24px;
    font-family: Open Sans bold;
}

header .navbars img {
    width: 30px;
    height: 30px;
    margin: -5px 10px auto 0;
}

header .navbars ul {
    margin: auto !important;
}

header .navbars li {
    padding: 2px 8px !important;
}

header .navbars a {
    color: #bfbfbf !important;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s;
}

header .navbars a:hover {
    color: #ececeb !important;
    transition: 0.3s;
}

header #login p {
    display: inline;
    color: #ececeb;
    padding: 0 2px;
    font-size: 14px;
}


/* End Navbar */


/* Start Sec20 */


/* End Sec20 */


/* Start Footer */

footer .menu {
    width: 100%;
    height: 250px;
    background-color: #1b1c1e;
}

footer .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 35px;
    padding-left: 0px !important;
}

footer .menu ul li h1 {
    color: #ececeb;
    font-size: 17px;
    font-weight: bold;
}

footer .menu ul li a {
    color: #ececeb;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

footer .menu ul li a:hover {
    color: #bfbfbf;
    transition: 0.3s;
}

footer .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #bfbfbf !important;
    text-align: center;
}

footer .icon svg {
    color: #1b1c1e;
    padding: 0 8px;
    font-size: 25px;
    transition: 0.3s;
}

footer .icon svg:hover {
    color: #ececeb;
    transition: 0.3s;
}


/* End Footer */