/* Main color #1b1c1e
Secend color #ececeb
Third color #bfbfbf
other #5d0088 & #003380
width,height,background,margin,padding,font*/


/* Start General Setting */

@font-face {
    font-family: Open Sans regular;
    src: url("../Fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: Open Sans bold;
    src: url("../Fonts/OpenSans-Semibold.ttf");
}

body {
    font-family: Open Sans regular;
    background-color: #1b1c1e;
}


/* End General Setting */


/* Start Sec17 */

.sec-17 {
    width: 100%;
    height:1000px;
    background-image: url("../img/section/sec17/sec17.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sec-17 .alert{
    margin: 5px 20px !important;
    padding: 10px !important;
    border-radius: 15px !important;
}

.sec-17 .register {
    width: 400px;
    margin: auto;
    padding-top: 80px;
}

.sec-17 .register .user-login {
    text-align: center;
}

.sec-17 .register .user-login h1 {
    color: #ececeb;
    font-family: Open Sans bold;
    font-size: 60px;
}

.sec-17 .register .user-login svg {
    width: 70px;
    height: 70px;
    font-size: 20px;
    background-color: #003380;
    color: #ececeb;
    padding: 30px;
    border-radius: 100px;
}

.sec-17 .register .text {
    width: 49%;
    margin: 5px 0 5px 1px;
    padding: 8px;
    border: 0px solid;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

.sec-17 .register .text-1{
    margin: 5px 2px;
    padding: 8px;
    border: 0px solid;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

.sec-17 .register .country-city {
    display: flex;
}

.sec-17 .register .email {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    border: 0px solid;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

.sec-17 .register .pass {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    border: 0px solid;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

.sec-17 .register .phone-number{
    display: flex;
}

.sec-17 .register .number {
    width: 80%;
    margin: 5px 1px;
    padding: 8px;
    border: 0px solid;
    border-radius: 0 10px 10px 0;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

.sec-17 .register .code {
    width: 20%;
    margin: 5px 1px;
    padding: 8px;
    border: 0px solid;
    border-radius: 10px 0 0 10px;
    text-align: center;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

.sec-17 .register .text:hover {
    background-color: rgba(236, 236, 235, 0.8) !important;
    transition: 0.3s;
}

.sec-17 .register .pass:hover {
    background-color: rgba(236, 236, 235, 0.8) !important;
    transition: 0.3s;
}

.sec-17 .register .details {
    display: flex;
    justify-content: space-between;
    color: #ececeb;
    margin-top: 10px;
    font-size: 16px;
}

.sec-17 .register .login-button {
    width: 100%;
    background-color: #003380;
    color: #ececeb;
    margin-top: 10px;
    padding: 8px;
    border: 0px solid;
    font-family: Open Sans bold;
    font-size: 20px;
    transition: 0.3s;
}

.sec-17 .register .login-button:hover {
    background-color: rgba(0, 51, 128, 0.8);
    transition: 0.3s;
}


/* End Sec17 */