{% extends 'base.html' %}
{% load static %}

{% static 'styles/bootstrap.min.css' %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="description" content="Introducing different hairstyles">
    <meta name="keywords" content="Hairstyles, New hairstyle, Old hairstyle, Different hairstyles">
    <meta name="author" content="Arash Ajorlou">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'styles/about.css'%}">
    <link rel="stylesheet" href="{% static 'styles/responsive.css'%}">
    <link rel="stylesheet" href="{% static 'styles/messages.css' %}">
    <script src="{% static 'scripts/all.min.js' %}"></script>
    <title>Hairstyles</title>
    <style>
        h2{
            font-size:4rem;
        }

        p{
            font-size:2rem;
        }

        .title{
            border:solid 1px black;
        }

        hr{
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #990066, rgba(0, 0, 0, 0));
        }

        .about-text{
            background-color:rgba(0,0,0, 0.5);
            border:solid 1px black;
            padding:10px;
            margin-top:20px;
            margin-bottom:20px;
        }

        .send{
            padding:5px 20px 5px 20px;
            background-color:#660099;
            border-radius:6px;
            color:white;
            text-shadow:0px 0px 4px black;
        }
    </style>
    
{% endblock %}


{% block content %}
 <section class="sec-11 overflow-hidden">
        <div class="about">
            <div class="container">
                <div class="about-text">
                    <h2>What is <b>BraidStarz</b> ?</h2>
                    <br>
                    <p>
                        Maybe you love <b>Braid</b>, maybe you don't. But BraidStarz, definitely does.
                        <br><br>
                        Like in the sky there
                        are countless stars, it's the same on earth, but <b>Braiders</b>, waiting to shine.
                        <br><br>
                        There are a lot of <b>Braiders around</b> the world, which they should be known to public. Braid is an
                        <b>art</b>, and a <b>Braider</b> is an <b>artist</b>.
                        <br><br>
                        What ever was the reason that these artists
                        was not known as he/she should, now it is time to make some change.
                        <br><br>
                        BraidStarz is for those artists
                        that they want to improve, grow and get better at their work.
                    </p>
                        <br><hr><br>
                    <p>
                        Likewise, there are people all around the world, that they say to themselves:
                        <br><br>
                        "I want to <b>braid my hair</b>"
                        <br><br>
                        but they may run into a problem and say:
                        <br><br>
                        "I cannot <b>find braider near me</b>. Well, BraidStarz is here.
                        <br><br>
                        We have a <b>braider finder</b> page, which can be used by him/her who is <b>looking for a braider</b> in their location.

                        <br><br>
                    </p>
                    <br><hr><br>
                    <p>
                        Generally, what we do is provide a place for braiders that can be a second home for them. Braiders who
                        <a href="{% url 'braider-or-customer' %}">create an account
                        on Braid Starz</a> will have a profile. In their profile, all the necessary information can be displayed based on the
                        braiders' decision. This includes a profile picture, location information, social media account IDs, name, and business
                        name, all presented in a simple yet satisfying design. This allows customers who are looking for a braider in their area
                        to find and connect with them.
                        <br><br>
                        Braiders have a dedicated space for uploading their works of art, showcasing their braid creations. Customers who visit
                        their profile can check the quality of their <b>braid work</b> and establish a connection with them.
                        <br><br>
                        However, these are just the first steps of BraidStarz. We have many more features in incoming for braid lovers, which we are
                        working on it.
                        <br><br>
                        All the uploaded media by braiders come together to create our <a href="{% url 'collection' %}">collection of braids</a>
                        . Braid lovers can browse through our
                        collection, scrolling until they find the perfect <b>braid picture</b> for them. By clicking on it, they can visit
                        <a href="{% url 'braider-or-customer' %}">your profile</a>
                        if it belongs to you!
                        <br><br>

                    </p>

                </div>
            </div>
        </div>
    </section>

    <section class="sec-12 overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-md-6" >
                    <div class="feedback" style="height:auto;">
                        <form method="post">
                            {% csrf_token %}
                            <label for="name">Your Name : </label>
                            {{ form.name }}
                            <br>
                            <label for="email">Your Email : </label>
                            {{ form.email }}
                            <br>
                            <label for="comment">Your Comment : </label><br>
                            {{ form.message }}
                            <br><br>
                            <center>
                                <button class="send">
                                    Send
                                </button>
                            </center>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="socialmedia">
                        <h2>Join the community</h2>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-discord"></i></a>
                        <h3>BraidStarz@gmail.com</h3>
                    </div>
                </div>

            </div>
        </div>
    </section>
    
{% endblock %}


{% block script %}
    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/script.js' %}"></script>
{% endblock %}
