{% extends 'base.html' %}
{% load static %}

{% static 'styles/bootstrap.min.css' %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="description" content="Introducing different hairstyles">
    <meta name="keywords" content="Hairstyles, New hairstyle, Old hairstyle, Different hairstyles">
    <meta name="author" content="Arash Ajorlou">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'styles/about.css'%}">
    <link rel="stylesheet" href="{% static 'styles/responsive.css'%}">
    <link rel="stylesheet" href="{% static 'styles/messages.css' %}">
    <script src="{% static 'scripts/all.min.js' %}"></script>
    <title>Hairstyles</title>
    <style>
        h2{
            font-size:4rem;
        }

        p{
            font-size:2rem;
        }

        .title{
            border:solid 1px black;
        }

        hr{
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #990066, rgba(0, 0, 0, 0));
        }

        .about-text{
            background-color:rgba(0,0,0, 0.5);
            border:solid 1px black;
            padding:10px;
            margin-top:20px;
            margin-bottom:20px;
        }
    </style>
    
{% endblock %}


{% block content %}
 <section class="sec-11 overflow-hidden">
        <div class="about">
            <div class="container">
                <div class="about-text">
                    <h2>Who is <b>BraidStarz</b> ?</h2>
                    <br>
                    <p>
                        Maybe you love <b>Braid</b>, maybe you don't. But BraidStarz, definitely do.
                        <br><br>
                        Like in the sky there
                        are countless stars, same on earth, but with <b>Braids</b>.
                        <br><br>
                        There are a lot of <b>Braiders around</b> the world, which they should be known to public. Braid is an
                        <b>art</b>, and a <b>Braider</b> is an <b>artist</b>.
                        <br><br>
                        What ever was the reason that this artist
                        was not known as he/she should, now it is time to make some change.
                        <br><br>
                        BraidStarz is for those artists
                        that they want to improve, grow and get better at their work.
                        <br><br>
                        We provide useful services to them, so
                        if they're hardworking they can make themselves known to people around them, and boost their business.
                    </p>
                        <br><hr><br>
                    <p>
                        Likewise, there are people all around the world, that they say to themselves:
                        <br><br>
                        "I want to <b>braid my hair</b>"
                        <br><br>
                        but they may run into a problem and say
                        <br><br>
                        "I cannot <b>find braider near me</b>. Well, BraidStarz is here.
                        <br><br>
                        We have a braider finder page, which can be used by him/her who is <b>looking for a braider</b> near him,
                        or in another city, or even country.
                        <br><br>
                        It is simple. you type your country or city, then the profile of those who did <b>make an account in Braidstarz</b>,
                        will be listed for you and you can choose between them and see their profile. or you can see all of them!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="sec-12 overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="feedback">
                        <form action="#">
                            <label for="name">Your Name : </label>
                            <input type="text" id="name">
                            <br>
                            <label for="email">Your Email : </label>
                            <input type="text" id="email">
                            <br>
                            <label for="comment">Your Comment : </label><br>
                            <textarea id="comment">
                            </textarea>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="socialmedia">
                        <h2>Join the community</h2>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-discord"></i></a>
                        <h3>BraidStarz@gmail.com</h3>
                    </div>
                </div>

            </div>
        </div>
    </section>
    
{% endblock %}


{% block script %}
    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/script.js' %}"></script>
{% endblock %}
