<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Introducing different hairstyles">
    <meta name="keywords" content="Hairstyles, New hairstyle, Old hairstyle, Different hairstyles">
    <meta name="author" content="Arash Ajorlou">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/styles/question.css' %}">
    <link rel="stylesheet" href="{% static '/styles/responsive.css' %}">
    <script src="{% static '/scripts/all.min.js' %}"></script>
    <title>Hairstyles</title>
</head>

<body>

    <section class="sec-23 overflow-hidden">
        <div class="row">
            <div class="col-md-6 braider">
                <div class="title">
                    <h2 style="text-shadow:0px 0px 10px black;">In Love with Braiding?</h2>
                    <p>
                        Click on the button bellow, and create a <b>Braider</b> profile. <br>
                        Attract customers and make yourself busy; here is the opportunity to tell what you got.
                        Show your art in <b>Braids</b>, by uploading the <b>picture of braids</b> you have done.
                        let your customers follow you on your social media accounts, and get to know you better.
                    </p>
                    <a href="{% url 'fregister' %}">
                        <button>Im a Braider!</button>
                    </a>
                </div>
            </div>
            <div class="col-md-6 customer">
                <div class="title">
                    <h2 style="text-shadow:0px 0px 10px black;">In Love with having Braids??</h2>
                    <p>
                        Do not loose the chance to <b>braid your hair</b>, by the <b>braiders of BraidStarz</b>.
                        <b>Find braiders near</b> you, by searching your city or country, or even search for a specific braider!
                        Save Braid pictures from our <b>braid collection</b> to your account, to see which one is better for you!
                    </p>
                    <a href="{% url 'customer-register' %}">
                        <button>I Want a Braider!</button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static '/scripts/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/scripts/script.js' %}"></script>

</body>

</html>