
{% extends 'base.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="description" content="Introducing different hairstyles">
    <meta name="keywords" content="Hairstyles, New hairstyle, Old hairstyle, Different hairstyles">
    <meta name="author" content="Arash Ajorlou">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/collection.css' %}">
    <link rel="stylesheet" href="{% static 'styles/responsive.css' %}">
    <script src="{% static 'scripts/all.min.js' %}"></script>
    <title>Hairstyles</title>
{% endblock %}

{% block content %}

    <section class="sec-5 overflow-hidden">
        <div class="collection">
            <div class="title">
                <h1>Collection of Braids</h1>
            </div>
            <div class="search">
                <form action="#">
<!--                    <div class="search-box">-->
<!--                        <div class="input-group">-->
<!--                            <input type="text" class="form-control" placeholder="Search..." aria-label="Recipient's username" aria-describedby="button-addon2">-->
<!--                            <button class="btn" type="button" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
            </div>
        </div>

        <div class="row">
            {% if posts %}
                {% for post in posts %}
                 <div class="col-md-3">
                    <a href="{% url 'collection-picture' id=post.id %}">
                        <div class="img-collection">
                            <img src="{{ post.image.url }}" alt="Braid">
                        </div>
                        <div class="details">
                            <div class="profile">
                                {% if post.braider.publicinfo.profile_picture %}
                                   <img src="/media/{{ post.braider.publicinfo.profile_picture }}" alt="{{ post.braider.user_name }}">
                                {% else %}
                                   <img src="{% static 'img/profile/profile/prof-demo.jpg' %}" alt="demo profile picture">
                                {% endif %}
                            </div>
                            <div class="description">
                                <p>{{ post.description }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            {% endif %}
        </div>

<!--        <div class="btn-np ">-->
<!--            <div class="previous "><a href="# ">Prev</a></div>-->

<!--            <div class="numbers ">-->
<!--                <div class="number ">-->
<!--                    <a href="# ">1</a>-->
<!--                </div>-->
<!--                <div class="number ">-->
<!--                    <a href="# ">2</a>-->
<!--                </div>-->
<!--                <div class="number ">-->
<!--                    <a href="# ">3</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="next "><a href="# ">Next</a></div>-->
<!--        </div>-->
    </section>

{% endblock %}


{% block script %}

<script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
