<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Introducing different hairstyles">
    <meta name="keywords" content="Hairstyles, New hairstyle, Old hairstyle, Different hairstyles">
    <meta name="author" content="Arash Ajorlou">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/reset1.css' %}">
    <link rel="stylesheet" href="{% static 'styles/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'styles/messages.css' %}">
    <script src="{% static 'scripts/all.min.js' %}"></script>
    <title>Hairstyles</title>
</head>

<body>
    <section class="sec-26 overflow-hidden">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {% if message.tags %} alert-{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="reset">
            <div class="reset-password">
                <img src="{% static 'img/password/icon/login.png' %}" alt="Reset Password Icon">
                <h1>Create new password</h1>
            </div>
            <p>Be sure to save your new password somewhere to avoid doing this process again. make a strong password for security of your accound. make sure your password includes capital and small letters, numbers, special characters, and a length more than 8.</p>
            <form method="post">
                {% csrf_token %}
                <label for="pass1">Enter new password:</label>
                {{ form.password1 }}
                <label for="pass2">Repeat password:</label>
                {{ form.password2 }}
                <div class="btn">
                    <button>Reset Password</button>
                </div>

            </form>
        </div>
    </section>

    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/script.js' %}"></script>

</body>

</html>