{% extends 'base.html' %}
{% load static %}

    {% block head %}
        <meta charset="UTF-8">
        <meta name="description" content="Introducing different hairstyles">
        <meta name="keywords" content="Hairstyles, New hairstyle, Old hairstyle, Different hairstyles">
        <meta name="author" content="Arash Ajorlou">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'styles/messages.css' %}">
        <link rel="stylesheet" href="{% static 'styles/profile-edits.css' %}">
        <link rel="stylesheet" href="{% static 'styles/responsiveprofile.css' %}">
        <link rel="stylesheet" href="{% static 'styles/responsive.css' %}">
        <script src="{% static 'scripts/all.min.js' %}"></script>
        <title>Hairstyles</title>
    {% endblock %}

    {% block content %}
        <section class="sec-22 overflow-hidden">
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="profile-edit">
                                <div class="profile-image">
                                    <div class="back-image">
                                    </div>

                              {% if pp != 'profile_pic.jpg' %}
                                <img src="/media/{{ pp }}" alt="braider {{ braider.user_name }} profile picture from {{ braider.locationinfo__country }}, {{ braider.locationinfo__country }}">
                            {% else %}
                                <img src="{% static 'img/logo.png' %}" alt="braid starz logo">
                            {% endif %}
                                </div>
<!--                                <label for="#">Profile Picture</label>-->

                                {{ form.profile_picture }}

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="#">Username</label>
                                        <br>
                                        {{ form.user_name }}
                                        <br>
                                        <label for="#">First Name</label>
                                        <br>
                                        {{ form.first_name }}
                                        <br>
                                        <label for="#">Last Name</label>
                                        <br>
                                        {{ form.last_name }}
                                        <br>


<!--                                        <label for="#">Number</label>-->
<!--                                        <br>-->
<!--                                        <input type="text">-->
<!--                                        <br>-->
<!--                                        <input type="checkbox" id="Number" value="Number" class="show-number">-->
<!--                                        <label for="Number" class="show">Show on profile</label>-->
<!--                                        <br>-->
                                    </div>
                                    <div class="col-md-6">
                                        <label for="#">Country</label>
                                        <br>
                                        {{ form.country }}
                                        <br>
                                        <label for="#">City</label>
                                        <br>
                                        {{ form.city }}
                                        <br>
<!--                                        <label for="#">Email</label>-->
<!--                                        <br>-->
<!--                                        <input type="text">-->
<!--                                        <br>-->
<!--                                        <input type="checkbox" id="Email" value="Email" class="show-email">-->
<!--                                        <label for="Email" class="show">Show on profile</label>-->
                                        {{ form.biography }}
<!--                                        <textarea class="form-control" placeholder="Text your Biography..."></textarea>-->
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="location">
                                <h2>Business info</h2>
                                <div class="left-form">
                                    <label for="#">Business Name</label>
                                    <br>
                                    {{ form.business_name }}
                                    <br>
                                    <label for="#">Website Address</label>
                                    <br>
                                    {{ form.website }}
                                </div>
                                <div class="map">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="socialmedia">
                                <h2>Socialmedia</h2>
                                <p>Please Upload the <b style="text-shadow:3px 2px 4px black;">URL</b> of your social media account.</p>
                                <div class="three-element">
                                    <div class="instagram"><i class="fa-brands fa-instagram"></i>
                                        {{ form.instagram }}
                                    </div>
                                    <div class="twitter"><i class="fa-brands fa-twitter"></i>
                                        {{ form.twitter }}
                                    </div>
                                    <div class="youtube"><i class="fa-brands fa-youtube"></i>
                                        {{ form.youtube }}
                                    </div>
                                </div>
                                <div class="two-element">
                                    <div class="facebook"><i class="fa-brands fa-facebook"></i>
                                        {{ form.facebook }}
                                    </div>
                                    <div class="tiktok"><i class="fa-brands fa-tiktok"></i>
                                        {{ form.tiktok }}
                                    </div>
                                </div>
                                <p>Social media's IDs will be shown on your profile</p>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <button>Apply Changes</button>
                    </div>
                </div>
            </form>
        </section>
    {% endblock %}

    {% block script %}
        <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'scripts/script.js' %}"></script>
    {% endblock %}