<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Introducing different hairstyles">
    <meta name="keywords" content="Hairstyles, New hairstyle, Old hairstyle, Different hairstyles">
    <meta name="author" content="Arash Ajorlou">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <link rel="stylesheet" href="{% static 'styles/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'styles/messages.css' %}">
    <script src="{% static 'scripts/all.min.js' %}"></script>
    <title>Hairstyles</title>
</head>

<body>

    <section class="sec-16 overflow-hidden">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="login">
            <div class="user-login">
                <i class="fa-regular fa-user"></i>
                <h1>User Login</h1>
            </div>
            <form method="post">
                {% csrf_token %}
<!--                <input type="text" placeholder="Email ID,Username" name="username" class="text" required>-->
                {{ form.username }}
                <br>
<!--                <input type="password" placeholder="Password" class="pass" name="password" required>-->
                {{ form.password }}
                <div class="details">
                    <div class="form-check">
<!--                        <input class="form-check-input" type="checkbox" value="" name='remember_me'id="flexCheckDefault">-->
                        {{ form.remember_me }}
                        <label class="form-check-label" for="flexCheckDefault">
                          Remember me
                        </label>
                    </div>
                    <a href="#">
                    <p>Forget Password?</p>
                </div>
                <button class="login-button">Login</button>
            </form>
        </div>
    </section>

    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/script.js' %}"></script>

</body>

</html>