
{% extends 'base.html' %}
{% load static %}

{% block head %}

    <meta charset="UTF-8" />
    <meta name="description" content="Introducing different hairstyles" />
    <meta name="keywords" content="Hairstyles, New hairstyle, Old hairstyle, Different hairstyles" />
    <meta name="author" content="Arash Ajorlou" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/messages.css' %}">
    <link rel="stylesheet" href="{% static 'styles/nfts.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/responsive.css' %}" />
    <script src="{% static 'scripts/all.min.js' %}"></script>

    <title>Hairstyles</title>

<style>
    .asset-details-container{
        background-color:black;
    }
</style>
{% endblock %}


{% block content %}

<!--<section class="sec-7 overflow-hidden">-->
<!--    <div class="banner">-->
<!--        <img src="{% static 'img/nfts/nft.gif' %}" alt="Nfts" class="nfts-img" />-->
<!--    </div>-->
<!--</section>-->

<section class="sec-8 overflow-hidden swiper mySwiper">
<!--    <div class="w-100 d-flex align-items-center justify-content-between">-->
<!--        <h2 style="display: inline">New NFTs</h2>-->
<!--        <div style="padding-right: 30px">-->
<!--            <span class="btn btn-dark swiper-button-prev"><i class="fa-solid fa-angle-left"></i></span>-->
<!--            <span class="btn btn-dark swiper-button-next"><i class="fa-solid fa-angle-right"></i></span>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row flex-nowrap swiper-wrapper">-->
<!--        <div class="col-md-3 swiper-slide">-->
<!--            <a href="">-->

<!--    <nft-card-->
<!--    contractAddress="0x495f947276749ce646f68ac8c248420045cb7b5e"-->
<!--    tokenId="67072969871692446644882792886810288662921193574133401341583028447771839430657">-->
<!--    </nft-card>-->
<!--    <script src="https://unpkg.com/embeddable-nfts/dist/nft-card.min.js"></script>-->


<!--            </a>-->
<!--        </div>-->
<!--        <div class="col-md-3 swiper-slide">-->
<!--            <a href="">-->
<!--                <div class="nfts">-->
<!--                    <div class="nfts-collection">-->
<!--                        <img src="{% static 'img/nfts/Braid.png' %}" alt="New NFTs" />-->
<!--                        <h3>Braid NFT#1353</h3>-->
<!--                        <p class="eth">-->
<!--                            <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="col-md-3 swiper-slide">-->
<!--            <a href="">-->
<!--                <div class="nfts">-->
<!--                    <div class="nfts-collection">-->
<!--                        <img src="{% static 'img/nfts/Braid.png' %}" alt="New NFTs" />-->
<!--                        <h3>Braid NFT#1353</h3>-->
<!--                        <p class="eth">-->
<!--                            <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="col-md-3 swiper-slide">-->
<!--            <a href="">-->
<!--                <div class="nfts">-->
<!--                    <div class="nfts-collection">-->
<!--                        <img src="{% static 'img/nfts/Braid.png' %}" alt="New NFTs" />-->
<!--                        <h3>Braid NFT#1353</h3>-->
<!--                        <p class="eth">-->
<!--                            <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="col-md-3 swiper-slide">-->
<!--            <a href="">-->
<!--                <div class="nfts">-->
<!--                    <div class="nfts-collection">-->
<!--                        <img src="{% static 'img/nfts/Braid.png' %}" alt="New NFTs" />-->
<!--                        <h3>Braid NFT#1353</h3>-->
<!--                        <p class="eth">-->
<!--                            <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="col-md-3 swiper-slide">-->
<!--            <a href="">-->
<!--                <div class="nfts">-->
<!--                    <div class="nfts-collection">-->
<!--                        <img src="{% static 'img/nfts/Braid.png' %}" alt="New NFTs" />-->
<!--                        <h3>Braid NFT#1353</h3>-->
<!--                        <p class="eth">-->
<!--                            <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--<section class="sec-9 overflow-hidden">-->
<!--    <section class="sec-8 overflow-hidden">-->
<!--        <div class="swiper mySwiper1">-->
<!--            <div class="w-100 d-flex align-items-center justify-content-between">-->
<!--                <h2 style="display: inline">Premium NFTs</h2>-->
<!--                <div style="padding-right: 30px">-->
<!--                    <span class="btn btn-dark swiper-button-prev1"><i class="fa-solid fa-angle-left"></i></span>-->
<!--                    <span class="btn btn-dark swiper-button-next1"><i class="fa-solid fa-angle-right"></i></span>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row flex-nowrap swiper-wrapper">-->
<!--                <div class="col-md-3 swiper-slide">-->
<!--                    <a href="">-->
<!--                        <div class="nfts">-->
<!--                            <div class="nfts-collection">-->
<!--                                <img src="{% static 'img/nfts/braid.png' %}" alt="Premium NFTs" />-->
<!--                                <h3>Braid NFT#1353</h3>-->
<!--                                <p class="eth">-->
<!--                                    <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="col-md-3 swiper-slide">-->
<!--                    <a href="">-->
<!--                        <div class="nfts">-->
<!--                            <div class="nfts-collection">-->
<!--                                <img src="{% static 'img/nfts/braid.png' %}" alt="Premium NFTs" />-->
<!--                                <h3>Braid NFT#1353</h3>-->
<!--                                <p class="eth">-->
<!--                                    <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="col-md-3 swiper-slide">-->
<!--                    <a href="">-->
<!--                        <div class="nfts">-->
<!--                            <div class="nfts-collection">-->
<!--                                <img src="{% static 'img/nfts/braid.png' %}" alt="Premium NFTs" />-->
<!--                                <h3>Braid NFT#1353</h3>-->
<!--                                <p class="eth">-->
<!--                                    <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="col-md-3 swiper-slide">-->
<!--                    <a href="">-->
<!--                        <div class="nfts">-->
<!--                            <div class="nfts-collection">-->
<!--                                <img src="{% static 'img/nfts/braid.png' %}" alt="Premium NFTs" />-->
<!--                                <h3>Braid NFT#1353</h3>-->
<!--                                <p class="eth">-->
<!--                                    <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="col-md-3 swiper-slide">-->
<!--                    <a href="">-->
<!--                        <div class="nfts">-->
<!--                            <div class="nfts-collection">-->
<!--                                <img src="{% static 'img/nfts/braid.png' %}" alt="Premium NFTs" />-->
<!--                                <h3>Braid NFT#1353</h3>-->
<!--                                <p class="eth">-->
<!--                                    <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="col-md-3 swiper-slide">-->
<!--                    <a href="">-->
<!--                        <div class="nfts">-->
<!--                            <div class="nfts-collection">-->
<!--                                <img src="{% static 'img/nfts/Braid.png' %}" alt="Premium NFTs" />-->
<!--                                <h3>Braid NFT#1353</h3>-->
<!--                                <p class="eth">-->
<!--                                    <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--</section>-->

<!--<section class="sec-10 overflow-hidden">-->
<!--    <div class="row">-->
<!--        <h2>Others</h2>-->
<!--        <div class="col-md-3">-->
<!--            <a href="">-->
<!--                <div class="nfts">-->
<!--                    <div class="nfts-collection">-->
<!--                        <img src="{% static 'img/nfts/Braid.png' %}" alt="NFTs" />-->
<!--                        <h3>Braid NFT#0353</h3>-->
<!--                        <p class="eth">-->
<!--                            <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--            <a href="">-->
<!--                <div class="nfts">-->
<!--                    <div class="nfts-collection">-->
<!--                        <img src="{% static 'img/nfts/Braid.png' %}" alt="NFTs" />-->
<!--                        <h3>Braid NFT#0353</h3>-->
<!--                        <p class="eth">-->
<!--                            <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--            <a href="">-->
<!--                <div class="nfts">-->
<!--                    <div class="nfts-collection">-->
<!--                        <img src="{% static 'img/nfts/Braid.png' %}" alt="NFTs" />-->
<!--                        <h3>Braid NFT#0353</h3>-->
<!--                        <p class="eth">-->
<!--                            <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--            <a href="">-->
<!--                <div class="nfts">-->
<!--                    <div class="nfts-collection">-->
<!--                        <img src="{% static 'img/nfts/Braid.png' %}" alt="NFTs" />-->
<!--                        <h3>Braid NFT#0353</h3>-->
<!--                        <p class="eth">-->
<!--                            <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--            <a href="">-->
<!--                <div class="nfts">-->
<!--                    <div class="nfts-collection">-->
<!--                        <img src="{% static 'img/nfts/Braid.png' %}" alt="NFTs" />-->
<!--                        <h3>Braid NFT#0353</h3>-->
<!--                        <p class="eth">-->
<!--                            <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--            <a href="">-->
<!--                <div class="nfts">-->
<!--                    <div class="nfts-collection">-->
<!--                        <img src="{% static 'img/nfts/Braid.png' %}" alt="NFTs" />-->
<!--                        <h3>Braid NFT#0353</h3>-->
<!--                        <p class="eth">-->
<!--                            <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--            <a href="">-->
<!--                <div class="nfts">-->
<!--                    <div class="nfts-collection">-->
<!--                        <img src="{% static 'img/nfts/Braid.png' %}" alt="NFTs" />-->
<!--                        <h3>Braid NFT#0353</h3>-->
<!--                        <p class="eth">-->
<!--                            <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--            <a href="">-->
<!--                <div class="nfts">-->
<!--                    <div class="nfts-collection">-->
<!--                        <img src="{% static 'img/nfts/Braid.png' %}" alt="NFTs" />-->
<!--                        <h3>Braid NFT#0353</h3>-->
<!--                        <p class="eth">-->
<!--                            <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--            <a href="">-->
<!--                <div class="nfts">-->
<!--                    <div class="nfts-collection">-->
<!--                        <img src="{% static 'img/nfts/Braid.png' %}" alt="NFTs" />-->
<!--                        <h3>Braid NFT#0353</h3>-->
<!--                        <p class="eth">-->
<!--                            <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--            <a href="">-->
<!--                <div class="nfts">-->
<!--                    <div class="nfts-collection">-->
<!--                        <img src="{% static 'img/nfts/Braid.png' %}" alt="NFTs" />-->
<!--                        <h3>Braid NFT#0353</h3>-->
<!--                        <p class="eth">-->
<!--                            <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--            <a href="">-->
<!--                <div class="nfts">-->
<!--                    <div class="nfts-collection">-->
<!--                        <img src="{% static 'img/nfts/Braid.png' %}" alt="NFTs" />-->
<!--                        <h3>Braid NFT#0353</h3>-->
<!--                        <p class="eth">-->
<!--                            <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="col-md-3">-->
<!--            <a href="">-->
<!--                <div class="nfts">-->
<!--                    <div class="nfts-collection">-->
<!--                        <img src="{% static 'img/nfts/Braid.png' %}" alt="NFTs" />-->
<!--                        <h3>Braid NFT#0353</h3>-->
<!--                        <p class="eth">-->
<!--                            <img src="{% static 'img/nfts/ethicon.png' %}" alt="ETH icon" />0.50 ETH-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="btn-np">-->
<!--        <div class="previous"><a href="#">Prev</a></div>-->

<!--        <div class="numbers">-->
<!--            <div class="number">-->
<!--                <a href="#">1</a>-->
<!--            </div>-->
<!--            <div class="number">-->
<!--                <a href="#">2</a>-->
<!--            </div>-->
<!--            <div class="number">-->
<!--                <a href="#">3</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="next"><a href="#">Next</a></div>-->
<!--    </div>-->
<br>
    <h1>Braidstarz NFT!</h1>
    <h3><br>
        Here, we are going to upload our braid nfts! <a href="{% url 'braider-or-customer' %}"><b>create account</b></a>
        in BraidStarz and be the first to notice our NFTs publish date.
    </h3>

</section>

{% endblock %}


{% block script %}

    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js' %}"></script>

    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            breakpoints: {
                768: {
                    slidesPerView: 4,
                },
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
        var swiper1 = new Swiper(".mySwiper1", {
            slidesPerView: 1,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            breakpoints: {
                768: {
                    slidesPerView: 4,
                },
            },
            navigation: {
                nextEl: ".swiper-button-next1",
                prevEl: ".swiper-button-prev1",
            },
        });
    </script>

{% endblock %}
