{% extends 'base.html' %}
{% load static %}

{% block head %}

    <meta charset="UTF-8">
    <meta name="description" content="Introducing different hairstyles">
    <meta name="keywords" content="Hairstyles, New hairstyle, Old hairstyle, Different hairstyles">
    <meta name="author" content="Arash Ajorlou">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/post-details.css' %}">
    <link rel="stylesheet" href="{% static 'styles/responsive.css' %}">
    <script src="{% static 'scripts/all.min.js' %}"></script>
    <title>Hairstyles</title>
<style>
select {
  background-color: black;
  color: white;
  border: 1px solid purple;
  padding: 5px;
  transition: 0.4s ease-in;
  width:70%;
}

select option {

  background-color: black;
  color: white;
  border: 1px solid purple;
  margin: 80px;
  transition: 0.4s ease-in;
}






</style>
{% endblock %}

{% block content %}

    <section class="sec-20 overflow-hidden">
        <div class="post-details">
            <div class="post">
                <img src="{% static 'img/profile/post/9.png' %}" alt="Post">
            </div>
            <div>
                <br>
                <h3 style="color:white;">
                    Choose a category for your post or select others
                </h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p}}


                </div><br>
                <button>Post</button>
            </form>
        </div>
    </section>

{% endblock %}

{% block script %}

    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/script.js' %}"></script>

{% endblock %}
