 {% extends 'base.html' %}
 {% load static %}

    {% block head %}
        <meta charset="UTF-8">
        <meta name="description" content="Introducing different hairstyles">
        <meta name="keywords" content="Hairstyles, New hairstyle, Old hairstyle, Different hairstyles">
        <meta name="author" content="Arash Ajorlou">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'styles/post.css' %}">
        <link rel="stylesheet" href="{% static 'styles/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'styles/responsiveprofile.css' %}">
        <script src="{% static 'scripts/all.min.js' %}"></script>
        <title>Hairstyles</title>
    {% endblock %}
    {% block content %}
        <section class="sec-15 overflow-hidden">
            <div class="menu">
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>
                                <a href="profile.html">Profile</a>
                            </li>
                            <li>
                                <a href="post.html">Post</a>
                            </li>
                            <li>
                                <a href="saved.html">Saved</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {% if posts %}
                {% for post in posts %}
                 <div class="col-md-3">
                    <a href="#">
                        <div class="img-collection">
                            <img src="{{ post.image.url }}" alt="Braid">
                        </div>
                        <div class="details">
                            <div class="profile">
                                <img src="" alt="{{ post.braider.user_name }}">
                            </div>
                            <div class="description">
                                <p>{{ post.description }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            {% endif %}
        </section>
    {% endblock %}

    {% block script %}
        <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'scripts/script.js' %}"></script>
    {% endblock %}