{% extends 'base.html' %}
{% load static %}

{% block head %}

    <meta charset="UTF-8">
    <meta name="description" content="Introducing different hairstyles">
    <meta name="keywords" content="Hairstyles, New hairstyle, Old hairstyle, Different hairstyles">
    <meta name="author" content="Arash Ajorlou">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/post-details.css' %}">
    <link rel="stylesheet" href="{% static 'styles/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'styles/messages.css' %}">
    <script src="{% static 'scripts/all.min.js' %}"></script>
    <title>BraidStarz | Post a Picture </title>
    <style>
        .something{
        color:white;
        background-color:rgb(20, 20, 20, 30%);
        padding:20px;
        text-decoration:bold;
        border-radius:15px;
        border:solid black 1px;
        }
    </style>

{% endblock %}

{% block content %}

<!--    <section class="sec-20 overflow-hidden">-->
<!--        <div class="post-details">-->
<!--            <div class="post">-->
<!--                <img src="{% static 'img/profile/post/9.png' %}" alt="Post">-->
<!--            </div>-->
<!--            <div>-->
<!--                <br>-->
<!--                <h3 style="color:white;">-->
<!--                    Choose a category for your post or select others-->
<!--                </h3>-->
<!--                <form method="post" enctype="multipart/form-data">-->
<!--                    {% csrf_token %}-->
<!--                    {{ form.as_p}}-->


<!--                </div><br>-->
<!--                <button>Post</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </section>-->









    <section class="sec-20 overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="upload">
                        <h2 style="color:white;">Upload post</h2>
                        <b>
                            <p style="text-align:left; color:white;">* The uploaded image will be cropped as square if it is not already a square.</p>
                            <p style="text-align:left; color:white;">* The uploaded image must be 1MB or less.</p>
                            <p style="text-align:left; color:white;">* Description and category make your post more valuable and attract traffic to your profile.</p>

                        </b>
                    </div>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {{ form.image }}
                    {% csrf_token %}
                    <div class="col-md-6">
                        <div class="details">
                            <div class="mb-3">
                                <label style='color:white;' for="exampleFormControlTextarea1" class="form-label">Description</label>
                                {{ form.description }}
                            </div>
                            <label style='color:white;' for="category">Choose category</label>
                                {{ form.category }}
                        </div>
                    </div>
                <div class="btn">
<!--                    <button>Cansel</button>-->
                    <button>Post</button>
                </div>
                </form>
            </div>

        </div>
    </section>




{% endblock %}

{% block script %}

    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/script.js' %}"></script>z

{% endblock %}
