{% extends 'base.html' %}
{% load static %}

    {% block head %}
        <meta charset="UTF-8">
        <meta name="description" content="Introducing different hairstyles">
        <meta name="keywords" content="Hairstyles, New hairstyle, Old hairstyle, Different hairstyles">
        <meta name="author" content="Arash Ajorlou">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
        <link rel="stylesheet" href="{% static 'styles/privacy.css' %}">
        <link rel="stylesheet" href="{% static 'styles/responsive.css' %}">
        <script src="{% static 'scripts/all.min.js' %}"></script>
        <title>BraidStarz | Privacy & Policy</title>
    {% endblock %}

    {% block content %}
        <section class="sec-25 overflow-hidden">
            <h1>Privacy & Policy</h1>

            <h2>In this privacy policy:</h2>

            <p>
                we, us, our, means BraidStarz team.
                you, your, braider, customer, user, means who ever use BraidStarz website.
            </p>

            <p>
                We consider the personal and public information of our users to be important, and we make every effort to ensure its
                utmost security and prevent data loss.
            </p>

            <p>
                We are committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which
                you can be identified when using this website, then you can be assured that it will only be used in accordance with
                this privacy statement.
            </p>


            <h2>What we collect</h2>

            <p>
                We may collect the following information:
            </p>

            <p>
                <b>
                    If you are a braider, we collect:
                </b>
            </p>

            <ul>
                <li>firstname</li>
                <li>lastname</li>
                <li>username</li>
                <li>email</li>
                <li>phone number</li>
                <li>country</li>
                <li>city</li>
                <li>address and/or location</li>
                <li>Social medias' id:</li>
                    <ul>
                        <li>instagram</li>
                        <li>twitter</li>
                        <li>tiktok</li>
                        <li>facebook</li>
                        <li>youtube</li>
                    </ul>
                <li>Biography and profile picture (depending on users' choice).</li>
            </ul>

            <p>
                <b>
                    If you are a customer, we collect:
                </b>
            </p>

            <p>
                First and last name, username, contact information including email address.
            </p>

            <p>
                For both types of users, braider and customer, we may collect information such as last time logged in, last time logged
                out, etc.
            </p>

            <h2>What we do with the information we gather?</h2>

            <p>
                We may use your contact information to identify you to provide a better service to both Customers and Braiders.
            </p>

<!--            <p>-->
<!--                We require this information to understand your needs and provide you with a better service, and in particular for the-->
<!--                following reasons:-->
<!--            </p>-->


            <h2>Internal record keeping.</h2>

            <p>
                We may use the information to improve our products and services.
            </p>

            <p>
                If you are a Braider, we use your name and contact information, location information, links of social medias accounts
                to help our website visitors who look for Braider, to connect with you.
            </p>

            <p>
                The pictures posted by braiders are added to our braid picture collection and made accessible to the public. Such posts
                include category and description.
            </p>

            <p>
                We may also show these information in your profile, accessible by public, and we may show your email address and phone
                number in accordance to your choice.
            </p>

            <p>
                If we dive more into detail, we use your username to help you log in, and show it in your profile. we use your firstname
                lastname for sending you more specific emails, and we show it on your profile and others will see it and identify you. we
                use your country and city and location information to show you to those who search these locations, and we show it in
                your profile so others will see where are your from. we may use your phone number and email to show it on your profile(
                based on your choice). we use your business name and website address to show on your profile and users will see them
                and use them. we use your profile picture to show it on your profile or where your username is used. we use your
                biography to let others know more about you. we use your social medias links to show them on your profile and let those
                who are interested get in touch with you and have your social media's id. we use the braid pictures you post for in your
                profile and collection, and those who visit your profile will see your braid work quality.
            </p>

            <p>
                We may periodically send promotional emails about new products, special offers or other information which we think you
                may find interesting using the email address which you have provided.
                From time to time, we may also use your information to contact you for market research purposes. We may contact you by
                email, phone, fax or mail. We may use the information to customise the website according to your interests.
            </p>


            <h2>Security</h2>


            <p>
                We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we
                have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we
                collect online.
            </p>


            <h2>How we use cookies</h2>


            <p>
                A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the file is
                added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web
                applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and
                dislikes by gathering and remembering information about your preferences.
            </p>

            <p>
                We use traffic log cookies to identify which pages are being used. This helps us analyse data about web page traffic
                and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis
                purposes and then the data is removed from the system.
            </p>

            <p>
                Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and
                which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data
                you choose to share with us.
            </p>


            <h2>Links to other websites</h2>


            <p>
                Our website may contain links to other websites of interest. However, once you have used these links to leave our site,
                you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the
                protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed
                by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in
                question.
            </p>

        </section>
    {% endblock %}

    {% block script %}
        <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'scripts/script.js' %}"></script>
    {% endblock %}

