
{% extends 'base.html' %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="description" content="Introducing different hairstyles">
    <meta name="keywords" content="Hairstyles, New hairstyle, Old hairstyle, Different hairstyles">
    <meta name="author" content="Arash Ajorlou">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
    <link rel="stylesheet" href="{% static 'styles/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'styles/responsiveprofile.css' %}">
    <script src="{% static 'scripts/all.min.js' %}"></script>
    <title>Hairstyles</title>
{% endblock %}


{% block content %}

    <section class="sec-13 overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="profile">
                        <div class="title">
                            <h1>My profile</h1>
                        </div>
                        <div class="details">
                            <h3>{{ braider.user_name }}</h3>
                            <img src="{% static 'img/profile/profile/6.png' %}" alt="Braider profile">
                            <a href="{% url 'edit-profile' %}">Edit Profile</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul>
                        <li>
                            <a href="profile.html">Profile</a>
                        </li>
                        <li>
                            <a href="post.html">Post</a>
                        </li>
                        <li>
                            <a href="saved.html">Saved</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="sec-14 overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="details">
                        <div class="img-braider">
                            <img src="{% static 'img/profile/profile/6-1.png.jpg' %}" alt="Braider profile">
                        </div>
                        <div class="details-braider">
                            <p>Name:
                                <b>
                                    {{ braider.publicinfo__first_name|title }}  {{ braider.publicinfo__last_name|title }}
                                </b>
                            </p>

                            {% if show_number %}
                                <p>Number:
                                    <b>
                                        {{ braider.phone_number }}
                                    </b>
                                </p>
                            {% endif %}

                            <p>Country:
                                <b>
                                    {{ braider.locationinfo__country }}
                                </b>
                            </p>

                            <p>City:
                                <b>
                                    {{ braider.locationinfo__city|title }}
                                </b>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-8 position-relative">
                    <a href="#">
                        <div class="post">
                            <img src="{% static 'img/profile/post/9.png' %}" alt="Braid" class="img-1">
                            <img src="{% static 'img/profile/post/11.png' %}" alt="Braid" class="img-2">
                        </div>
                        <h4 class="position-absolute top-50 start-50 translate-middle">Post</h4>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="socialmedia">

                        {% if braider.socialmedia__instagram %}
                            <span>
                                <a href="{{ braider.socialmedia__instagram }}" target="_blank">
                                    <i class="fa-brands fa-instagram instagram">
                                    </i>
                                </a>
                            </span>
                        {% endif %}

                        {% if braider.socialmedia__twitter %}
                            <span>
                                <a href="{{ braider.socialmedia__twitter }}" target="_blank">
                                    <i class="fa-brands fa-twitter twitter">
                                    </i>
                                </a>
                            </span>
                        {% endif %}

                        {% if braider.socialmedia__facebook %}
                            <span>
                                <a href="{{ braider.socialmedia__facebook }}" target="_blank">
                                    <i class="fa-brands fa-facebook facebook">
                                    </i>
                                </a>
                            </span>
                        {% endif %}

                        {% if braider.socialmedia__tiktok %}
                            <span>
                                <a href="{{ braider.socialmedia__tiktok }}" target="_blank">
                                    <i class="fa-brands fa-tiktok tiktok"></i>
                                </a>
                            </span>
                        {% endif %}

                        {% if braider.socialmedia__youtube %}
                            <span>
                                <a href="{{ braider.socialmedia__youtube }}" target="_blank">
                                    <i class="fa-brands fa-youtube youtube">
                                    </i>
                                </a>
                            </span>
                        {% endif %}
<!--                            <span><a href="#"><i class="fa-brands fa-instagram instagram"></i></a></span>-->
<!--                            <span><a href="#"><i class="fa-brands fa-twitter twitter"></i></a></span>-->
<!--                            <span><a href="#"><i class="fa-brands fa-facebook facebook"></i></a></span>-->
<!--                            <span><a href="#"><i class="fa-brands fa-tiktok tiktok" ></i></a></span>-->
<!--                            <span><a href="#"><i class="fa-brands fa-youtube youtube" style="color:red"></i></a></span>-->
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <div class="map">
                            <div class="details-business">
                                <p>
                                    Business Name:
                                    <br>
                                    <b>
                                        {{ braider.businessinfo__name }}
                                    </b>
                                    <br> Web site Address:
                                    <br>
                                    <b>
                                        {{ braider.businessinfo__website }}
                                    </b>
                                </p>
                            </div>
                            <div class="location">

                            </div>
                        </div>
                    </a>
                </div>
            </div>
    </section>

{% endblock %}


{% block script %}

<script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'scripts/script.js' %}"></script>

{% endblock %}
