<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Introducing different hairstyles">
    <meta name="keywords" content="Hairstyles, New hairstyle, Old hairstyle, Different hairstyles">
    <meta name="author" content="Arash Ajorlou">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/registerfirst.css' %}">
    <link rel="stylesheet" href="{% static 'styles/responsive.css' %}">
    <script src="{% static 'scripts/all.min.js' %}"></script>
    <title>BraidStarz | Register</title>
</head>

<body>

    <section class="sec-19 overflow-hidden">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="row">
            <div class="col-md-7">
                <div class="background"></div>
            </div>
            <div class="col-md-5">
                <div class="title">
                    <h1>Welcome to BraidStarz</h1>
                </div>
                <h3>Create an account</h3>
<!--                <a href="#"><span><img src="{% static 'img/loginfirst/google.svg' %}" alt="Google icon">Continue with Google</span></a>-->
<!--                <a href="#"><span><i class="fa-brands fa-facebook facebook"></i>Continue with Facebook</span></a>-->
                <a href="{% url 'register' %}"><span><i class="fa-regular fa-envelope"></i>Continue with Email</span></a>
                <p>Already have an account? <a href="{% url 'flogin' %}">Login</a></p>
            </div>
        </div>
    </section>

    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/script.js' %}"></script>

</body>

</html>