<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Introducing different hairstyles">
    <meta name="keywords" content="Hairstyles, New hairstyle, Old hairstyle, Different hairstyles">
    <meta name="author" content="Arash Ajorlou">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
    <link rel="stylesheet" href="{% static 'styles/responsive.css' %}">
    <script src="{% static 'scripts/all.min.js' %}"></script>
    <title>Hairstyles</title>
</head>

<body>

    <section class="sec-17 overflow-hidden">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="register">
            <div class="user-login">
                <i class="fa-regular fa-user"></i>
                <h1>User Register</h1>
            </div>

            <form method='post'>
            {% csrf_token %}

                {{ form.first_name }}
                {{ form.last_name }}

                <div class="flex">
                    {{ form.user_name }}
                    {{ form.user_type }}
                </div>

                <div class="country">
                    {{ form.country }}
                    {{ form.city }}
                </div>

                {{ form.email }}
                {{ form.password1 }}
                {{ form.password2 }}


                {{ form.phone_code }}
                {{ form.phone_num }}

                <button class="login-button">Sign up</button>
            </form>

        </div>
    </section>

    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/script.js' %}"></script>

</body>

</html>