<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Introducing different hairstyles">
    <meta name="keywords" content="Hairstyles, New hairstyle, Old hairstyle, Different hairstyles">
    <meta name="author" content="Arash Ajorlou">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/reset1.css' %}">
    <link rel="stylesheet" href="{% static 'styles/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'styles/messages.css' %}">

    <script src="{% static 'scripts/all.min.js' %}"></script>
    <title>BraidStarz | Reset Your Password</title>
</head>

<body>

    <section class="sec-26 overflow-hidden">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {% if message.tags %} alert-{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="reset">
            <div class="reset-password">
                <img src="{% static 'img/password/icon/login.png' %}" alt="Reset Password Icon">
                <h1>Reset Pssword</h1>
            </div>
            <p>Its seems that your forgot your password. It is ok it happen to us all ;) Enter your username or email then we will send a reset password link to your email.</p>
            <form method="post">
                {% csrf_token %}
                <input type="text" name='data'placeholder="Username or Email address">
                <div class="btn">
                    <button>Reset Password</button>
                </div>
            </form>
        </div>
    </section>

    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/script.js' %}"></script>

</body>

</html>