{% extends 'base.html' %}


{% block head %}
    <meta charset="UTF-8">
    <meta name="description" content="Introducing different hairstyles">
    <meta name="keywords" content="Hairstyles, New hairstyle, Old hairstyle, Different hairstyles">
    <meta name="author" content="Arash Ajorlou">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/search.css">
    <link rel="stylesheet" href="styles/responsive.css">
    <script src="scripts/all.min.js"></script>
    <title>Hairstyles</title>
{% endblock %}


{% block content %}
    <section class="sec-1 overflow-hidden">
        <div class="title">
            <h1>BraidStarz</h1>
            <p>Hello, Braid lover!<br>BraidStarz love braid & provide incredible services to those who like braids too.</p>
        </div>
        <div class="search">
            <div class="cont1">
                <h2>Find your braider now!</h2>
                <p>You can find braider near you<br>by searching one of the following items</p>
                <p>Your Country / Your City / The Braider name / Their Social meida ID</p>
                <form action="#">
                    <div class="search-box">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search..." aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn" type="button" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="sec-13 overflow-hidden">
        <div class="container">
            <div class="r-search">
                <div class="row">
                    <div class="col-md-4">
                        <div class="title">
                            <img src="img/collection/profile/1.png" alt="Braider profile">
                            <h2>USER NAME</h2>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4>Country : Iran</h4>
                        <h4>City : Tehran</h4>
                        <h4>Phone : +9812345678</h4>
                    </div>
                    <div class="col-md-4">
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <button class="v-profile"><a href="#">View Profile</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block script %}
    <script src="scripts/bootstrap.bundle.min.js"></script>
    <script src="scripts/script.js"></script>
{% endblock %}

