<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Introducing different hairstyles">
    <meta name="keywords" content="Hairstyles, New hairstyle, Old hairstyle, Different hairstyles">
    <meta name="author" content="Arash Ajorlou">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/reset1.css' %}">
    <link rel="stylesheet" href="{% static 'styles/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'styles/messages.css' %}">
    <script src="{% static 'scripts/all.min.js' %}"></script>
    <title>Hairstyles</title>
</head>

<body>

    <section class="sec-26 overflow-hidden">
        <div class="reset">
            <div class="reset-password">
                <img src="{% static 'img/password/icon/login.png' %}" alt="Reset Password Icon">
                <h1>Validate Your Email</h1>
            </div>
            <p>We have sent a validation email to <b>{{ email }}</b> . Complete creating your account by clicking on the validation link in the email we send to you.</p>
        </div>
    </section>

    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/script.js' %}"></script>

</body>

</html>