/* Main color #1b1c1e
Secend color #ececeb
Third color #bfbfbf
other #5d0088 & #003380
width,height,background,margin,padding,font*/


/* Start General Setting */

@font-face {
    font-family: Open Sans regular;
    src: url("../Fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: Open Sans bold;
    src: url("../Fonts/OpenSans-Semibold.ttf");
}

body {
    width: 100%;
    height: 800px;
    background-image: url("../img/section/profile/bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #1b1c1e;
    font-family: Open Sans regular;
}


/* End General Setting */


/* Start Navbar */

header .container {
    max-width: 1450px !important;
}

header .navbars {
    background-color: #1b1c1e !important;
}

header .navbars .navbar-toggler {
    background-color: #bfbfbf;
    transition: 0.3s;
}

header .navbars .navbar-toggler:hover {
    background-color: #ececeb;
    transition: 0.3s;
}

header .navbars h1 {
    color: #ececeb !important;
    margin: auto 0;
    font-size: 24px;
    font-family: Open Sans bold;
}

header .navbars img {
    width: 30px;
    height: 30px;
    margin: -5px 10px auto 0;
}

header .navbars ul {
    margin: auto !important;
}

header .navbars li {
    padding: 2px 8px !important;
}

header .navbars a {
    color: #bfbfbf !important;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s;
}

header .navbars a:hover {
    color: #ececeb !important;
    transition: 0.3s;
}

header #login p {
    display: inline;
    color: #ececeb;
    padding: 0 2px;
    font-size: 14px;
}


/* End Navbar */


/* Start Sec22 */

.sec-22 .container {
    max-width: 1400px;
}

.sec-22 .profile-edit {
    height: 655px;
    background-color: rgba(236, 236, 235, 0.1);
    margin: 30px auto 0 auto;
    border-radius: 20px;
    text-align: center;
}

.sec-22 .profile-edit .back-image {
    width: 100%;
    height: 140px;
    background-color: #ececeb;
    border-radius: 20px 20px 0 0;
}

.sec-22 .profile-edit .profile-image img {
    height: 200px;
    margin: -100px 0 0 0;
    border-radius: 1000px;
}

.sec-22 .profile-edit button {
    background-color: #ececeb;
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    transition: 0.3s;
}

.sec-22 .profile-edit button:hover {
    background-color: #bfbfbf;
    transition: 0.3s;
}

.sec-22 .profile-edit .col-md-6 {
    text-align: center;
}

.sec-22 .location {
    height: 655px;
    background-color: rgba(236, 236, 235, 0.1);
    margin: 30px auto 0 auto;
    padding: 20px 50px;
    border-radius: 20px;
    text-align: center;
}

.sec-22 .location h2 {
    color: #ececeb;
    font-size: 60px;
    font-family: open sans bold;
    text-align: center;
}

.sec-22 form label {
    color: #ececeb;
    font-size: 22px;
}

.sec-22 form input {
    background-color: #1b1c1e;
    color: #ececeb;
    border: none;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    font-size: 17px;
    transition: 0.3s;
}

.sec-22 form input:focus {
    outline: none;
    border-bottom: 2px solid #5d0088;
    transition: 0.3s;
}

.sec-22 form select {
    width: 220px;
    background-color: #1b1c1e;
    color: #ececeb;
    padding: 10px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: 0.3s;
}

.sec-22 form select:focus {
    outline: none;
    border-bottom: 2px solid #5d0088;
    transition: 0.3s;
}

.sec-22 .show {
    font-size: 16px;
}

.sec-22 .location .map {
    width: 90%;
    height: 45%;
    background-color: #ececeb;
    margin: 40px auto;
    border-radius: 20px;
}

.sec-22 .socialmedia {
    width: 100%;
    height: 480px;
    background-color: rgba(236, 236, 235, 0.1);
    margin: 20px auto 30px auto;
    border-radius: 20px;
}

.sec-22 .socialmedia h2 {
    color: #ececeb;
    padding: 20px 0 0 0;
    font-size: 60px;
    font-family: open sans bold;
    text-align: center;
}

.sec-22 .socialmedia div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ececeb;
    margin: 20px;
}

.sec-22 .socialmedia .three-element {
    padding-top: 20px;
}

.sec-22 .socialmedia svg {
    margin: 0 5px 0 0;
    font-size: 50px;
}

.sec-22 .socialmedia .instagram {
    color: #b134af;
}

.sec-22 .socialmedia .twitter {
    color: #00acee;
}

.sec-22 .socialmedia .youtube {
    color: #c4302b;
}

.sec-22 .socialmedia .facebook {
    color: #3b5998;
}

.sec-22 .socialmedia .tiktok {
    color: #010101;
}

.sec-22 .socialmedia p {
    padding: 0 10px;
    color: #ececeb;
    text-align: center;
    font-size: 24px;
}

.sec-22 .btn {
    width: 100%;
    margin-top: -20px;
}

.sec-22 .btn button {
    background-color: #ececeb;
    color: #1b1c1e;
    width: 70px;
    padding: 6px 8px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
}

.sec-22 .btn button:hover {
    background-color: #bfbfbf;
}

.sec-22 form textarea {
    resize: none;
    width: 95%;
    height: 80px;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    font-size: 15px;
}

.sec-22 form textarea:focus {
    border: none;
    box-shadow: none;
}


/* End Sec22 */


/* Start Footer */

footer .menu {
    width: 100%;
    height: 250px;
    background-color: #1b1c1e;
}

footer .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 35px;
    padding-left: 0px !important;
}

footer .menu ul li h1 {
    color: #ececeb;
    font-size: 17px;
    font-weight: bold;
}

footer .menu ul li a {
    color: #ececeb;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

footer .menu ul li a:hover {
    color: #bfbfbf;
    transition: 0.3s;
}

footer .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #bfbfbf !important;
    text-align: center;
}

footer .icon svg {
    color: #1b1c1e;
    padding: 0 8px;
    font-size: 25px;
    transition: 0.3s;
}

footer .icon svg:hover {
    color: #ececeb;
    transition: 0.3s;
}


/* End Footer */