/* Start Profile */

@media only screen and (max-width:1200px) {
    body {
        width: 100%;
        height: 800px;
        background-image: url("../img/section/profile/bg-1.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: .5s all ease-in-out;
    }
    .sec-13 .profile .title h1 {
        display: inline;
        font-size: 45px;
        font-weight: bold;
        transition: .5s all ease-in-out;
    }
    .sec-13 .profile img {
        width: 48px;
        height: 48px;
        float: right;
        border-radius: 50px;
        transition: .5s all ease-in-out;
    }
    .sec-13 .profile h3 {
        display: inline;
        margin-top: 10px;
        padding: 0 15px;
        font-size: 28px;
        font-weight: bold;
        transition: .5s all ease-in-out;
    }
    .sec-13 .profile .details a {
        position: absolute;
        top: 40px;
        right: 33px;
        padding: 0 15px;
        float: right;
        font-size: 14px;
        font-weight: bold;
        transition: .5s all ease-in-out;
    }
    .sec-13 a {
        color: #ececeb;
        padding: 0 10px;
        text-decoration: none;
        font-size: 17px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .details .img-braider {
        padding: 18px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .details .img-braider img {
        width: 130px;
        height: 130px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .details .details-braider {
        padding: 15px;
    }
    .sec-14 .details .details-braider p {
        padding: 6px 13px !important;
        font-size: 17px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .post img {
        width: 100%;
        height: 100%;
        opacity: 0.5;
        transition: .5s all ease-in-out;
    }
    .sec-14 h4 {
        color: rgb(27, 28, 30, 0);
        font-size: 90px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .socialmedia {
        height: 170px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .socialmedia svg {
        color: #1b1c1e;
        padding: 0 8px;
        font-size: 50px;
        transition: 0.3s;
        transition: .5s all ease-in-out;
    }
    .sec-14 .map .location {
        font-size: 70px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .map .details-business p {
        color: #1b1c1e;
        font-size: 16px;
        text-align: center;
        transition: .5s all ease-in-out;
    }
}

@media only screen and (max-width:992px) {
    body {
        width: 100%;
        height: 800px;
        background-image: url("../img/section/profile/bg-2.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: .5s all ease-in-out;
    }
    .sec-13 .profile .title h1 {
        display: inline;
        font-size: 40px;
        font-weight: bold;
        transition: .5s all ease-in-out;
    }
    .sec-13 .profile img {
        width: 46px;
        height: 46px;
        border-radius: 50px;
        transition: .5s all ease-in-out;
    }
    .sec-13 .profile h3 {
        display: inline;
        margin-top: 10px;
        padding: 0 15px;
        font-size: 26px;
        font-weight: bold;
        transition: .5s all ease-in-out;
    }
    .sec-13 .profile .details a {
        position: absolute;
        top: 40px;
        right: 33px;
        padding: 0 15px;
        float: right;
        font-size: 14px;
        font-weight: bold;
        transition: .5s all ease-in-out;
    }
    .sec-13 a {
        color: #ececeb;
        padding: 0 10px;
        text-decoration: none;
        font-size: 16px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .details .img-braider {
        padding: 16px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .details .img-braider img {
        width: 120px;
        height: 120px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .details .details-braider {
        padding: 10px;
    }
    .sec-14 .details .details-braider p {
        padding: 4px 11px !important;
        font-size: 16px;
        transition: .5s all ease-in-out;
    }
    .sec-14 h4 {
        color: rgb(27, 28, 30, 0);
        font-size: 80px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .socialmedia {
        height: 160px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .map .location {
        height: 160px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .map .details-business p {
        color: #1b1c1e;
        font-size: 15px;
        text-align: center;
        transition: .5s all ease-in-out;
    }
}

@media only screen and (max-width:768px) {
    body {
        width: 100%;
        height: 800px;
        background-image: url("../img/section/profile/bg-3.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: .5s all ease-in-out;
    }
    .sec-13 {
        margin-top: 30px;
    }
    .sec-13 .profile .title h1 {
        display: inline;
        font-size: 45px;
        font-weight: bold;
        transition: .5s all ease-in-out;
    }
    .sec-13 .profile img {
        width: 48px;
        height: 48px;
        border-radius: 50px;
        transition: .5s all ease-in-out;
    }
    .sec-13 .profile h3 {
        display: inline;
        margin-top: 8px;
        padding: 0 10px;
        font-size: 28px;
        font-weight: bold;
        transition: .5s all ease-in-out;
    }
    .sec-13 .profile .details a {
        position: absolute;
        top: 40px;
        right: 36px;
        padding: 0 15px;
        float: right;
        font-size: 13px;
        font-weight: bold;
        transition: .5s all ease-in-out;
    }
    .sec-13 ul {
        margin-top: 20px;
        transition: .5s all ease-in-out;
    }
    .sec-13 a {
        color: #ececeb;
        padding: 0 8px;
        text-decoration: none;
        font-size: 17px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .col-md-6 {
        padding: 0 10px !important;
    }
    .sec-14 .details {
        margin-bottom: 20px;
    }
    .sec-14 .details .img-braider {
        padding: 18px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .details .img-braider img {
        width: 130px;
        height: 130px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .details .details-braider {
        padding: 15px;
    }
    .sec-14 .details .details-braider p {
        padding: 6px 13px !important;
        font-size: 17px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .socialmedia {
        margin: 20px 0;
    }
    .sec-14 .post img {
        width: 100%;
        height: 100%;
        opacity: 0.5;
        transition: .5s all ease-in-out;
    }
    .sec-14 h4 {
        color: rgb(27, 28, 30, 0);
        font-size: 90px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .socialmedia {
        height: 170px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .map .details-business p {
        color: #1b1c1e;
        font-size: 16px;
        text-align: center;
        transition: .5s all ease-in-out;
    }
}

@media only screen and (max-width:572px) {
    body {
        width: 100%;
        height: 800px;
        background-image: url("../img/section/profile/bg-4.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: .5s all ease-in-out;
    }
    .sec-13 .profile .title h1 {
        display: inline;
        font-size: 40px;
        font-weight: bold;
        transition: .5s all ease-in-out;
    }
    .sec-13 .profile img {
        width: 46px;
        height: 46px;
        border-radius: 50px;
        transition: .5s all ease-in-out;
    }
    .sec-13 .profile h3 {
        display: inline;
        margin-top: 6px;
        padding: 0 5px;
        font-size: 26px;
        font-weight: bold;
        transition: .5s all ease-in-out;
    }
    .sec-13 .profile .details a {
        position: absolute;
        top: 40px;
        right: 37px;
        padding: 0 15px;
        float: right;
        font-size: 13px;
        font-weight: bold;
        transition: .5s all ease-in-out;
    }
    .sec-13 a {
        color: #ececeb;
        text-decoration: none;
        font-size: 16px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .col-md-6 {
        padding: 0 10px !important;
    }
    .sec-14 .details {
        margin-bottom: 15px;
    }
    .sec-14 .details .img-braider {
        padding: 16px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .details .img-braider img {
        width: 120px;
        height: 120px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .details .details-braider {
        padding: 10px;
    }
    .sec-14 .details .details-braider p {
        padding: 4px 11px !important;
        font-size: 16px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .socialmedia {
        margin: 15px 0;
    }
    .sec-14 .post img {
        width: 100%;
        height: 100%;
        opacity: 0.5;
        transition: .5s all ease-in-out;
    }
    .sec-14 h4 {
        color: rgb(27, 28, 30, 0);
        font-size: 70px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .socialmedia {
        height: 160px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .map .details-business p {
        color: #1b1c1e;
        font-size: 15px;
        text-align: center;
        transition: .5s all ease-in-out;
    }
}

@media only screen and (max-width:395px) {
    body {
        width: 100%;
        height: 800px;
        background-image: url("../img/section/profile/bg-5.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: .5s all ease-in-out;
    }
    .sec-13 .profile .title h1 {
        display: inline;
        font-size: 30px;
        font-weight: bold;
        transition: .5s all ease-in-out;
    }
    .sec-13 .profile img {
        width: 44px;
        height: 44px;
        border-radius: 50px;
        transition: .5s all ease-in-out;
    }
    .sec-13 .profile h3 {
        display: inline;
        margin-top: 4px;
        padding: 0 5px;
        font-size: 24px;
        font-weight: bold;
        transition: .5s all ease-in-out;
    }
    .sec-13 .profile .details a {
        position: absolute;
        top: 40px;
        right: 42px;
        padding: 0 15px;
        float: right;
        font-size: 12px;
        font-weight: bold;
        transition: .5s all ease-in-out;
    }
    .sec-13 ul {
        margin-top: 30px;
        transition: .5s all ease-in-out;
    }
    .sec-13 a {
        color: #ececeb;
        text-decoration: none;
        font-size: 15px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .col-md-6 {
        padding: 0 10px !important;
    }
    .sec-14 .details {
        margin-bottom: 12px;
    }
    .sec-14 .details .img-braider {
        padding: 14px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .details .img-braider img {
        width: 110px;
        height: 110px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .details .details-braider {
        padding: 5px;
    }
    .sec-14 .details .details-braider p {
        padding: 2px 9px !important;
        font-size: 15px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .socialmedia {
        margin: 12px 0;
    }
    .sec-14 .post img {
        width: 100%;
        height: 100%;
        opacity: 0.5;
        transition: .5s all ease-in-out;
    }
    .sec-14 h4 {
        color: rgb(27, 28, 30, 0);
        font-size: 50px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .socialmedia {
        height: 150px;
        transition: .5s all ease-in-out;
    }
    .sec-14 .map .details-business p {
        color: #1b1c1e;
        font-size: 14px;
        text-align: center;
        transition: .5s all ease-in-out;
    }
    .sec-14 .socialmedia svg {
        color: #1b1c1e;
        padding: 0 8px;
        font-size: 45px;
        transition: 0.3s;
        transition: .5s all ease-in-out;
    }
}


/* End Profile */


/* Start Post & Saved */

@media only screen and (max-width:1200px) {
    body {
        width: 100%;
        height: 800px;
        background-image: url("../img/section/profile/bg-1.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: .5s all ease-in-out;
    }
    .sec-15 .title h1 {
        font-size: 95px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .details .description p {
        font-size: 14px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .details .profile img {
        width: 50px;
        height: 50px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .menu a {
        color: #ececeb;
        padding: 0 10px;
        text-decoration: none;
        font-size: 17px;
        transition: .5s all ease-in-out;
    }
}

@media only screen and (max-width:992px) {
    body {
        width: 100%;
        height: 800px;
        background-image: url("../img/section/profile/bg-2.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: .5s all ease-in-out;
    }
    .sec-15 .title h1 {
        font-size: 85px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .details .description p {
        font-size: 12px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .details .profile img {
        width: 40px;
        height: 40px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .collection .search .form-control {
        font-size: 15px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .menu a {
        color: #ececeb;
        padding: 0 10px;
        text-decoration: none;
        font-size: 16px;
        transition: .5s all ease-in-out;
    }
}

@media only screen and (max-width:850px) {
    .sec-15 .details .description p {
        font-size: 10px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .details .profile img {
        width: 35px;
        height: 35px;
        transition: .5s all ease-in-out;
    }
}

@media only screen and (max-width:768px) {
    body {
        width: 100%;
        height: 800px;
        background-image: url("../img/section/profile/bg-3.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: .5s all ease-in-out;
    }
    .sec-15 .collection {
        height: 270px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .title h1 {
        font-size: 75px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .img-collection {
        text-align: center;
    }
    .sec-15 .img-collection img {
        width: 70%;
        height: 70%;
    }
    .sec-15 .details {
        width: 70%;
        margin: 8px auto 20px auto;
    }
    .sec-15 .details .description p {
        font-size: 14px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .details .profile img {
        width: 50px;
        height: 50px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .collection .search .form-control {
        padding: 14px !important;
        font-size: 14px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .menu a {
        color: #ececeb;
        padding: 0 8px;
        text-decoration: none;
        font-size: 17px;
        transition: .5s all ease-in-out;
    }
}

@media only screen and (max-width:576px) {
    body {
        width: 100%;
        height: 800px;
        background-image: url("../img/section/profile/bg-4.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: .5s all ease-in-out;
    }
    .sec-15 .collection {
        height: 240px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .title {
        padding: 35px 35px 15px 35px;
    }
    .sec-15 .title h1 {
        font-size: 65px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .img-collection img {
        width: 75%;
        height: 75%;
    }
    .sec-15 .details {
        width: 75%;
        margin: 8px auto 20px auto;
    }
    .sec-15 .details .description p {
        font-size: 13px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .details .profile img {
        width: 45px;
        height: 45px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .collection .search .form-control {
        padding: 13px !important;
        font-size: 13px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .menu a {
        color: #ececeb;
        text-decoration: none;
        font-size: 16px;
        transition: .5s all ease-in-out;
    }
}

@media only screen and (max-width:555px) {
    .sec-15 .collection {
        height: 230px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .title h1 {
        font-size: 55px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .collection .search .form-control {
        padding: 12px !important;
        font-size: 12px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .search .btn {
        padding: 0 18px !important;
    }
}

@media only screen and (max-width:492px) {
    .sec-15 .collection {
        height: 200px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .title {
        padding: 30px 30px 10px 30px;
    }
    .sec-15 .title h1 {
        font-size: 45px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .details .description p {
        font-size: 12px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .details .profile img {
        width: 40px;
        height: 40px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .collection .search .form-control {
        padding: 11px !important;
        font-size: 11px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .search .btn {
        padding: 0 16px !important;
    }
}

@media only screen and (max-width:455px) {
    .sec-15 .collection {
        height: 170px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .title h1 {
        font-size: 35px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .collection .form-control {
        padding: 10px !important;
        font-size: 10px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .search .btn {
        padding: 0 14px !important;
    }
}

@media only screen and (max-width:395px) {
    body {
        width: 100%;
        height: 800px;
        background-image: url("../img/section/profile/bg-5.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        transition: .5s all ease-in-out;
    }
    .sec-15 .collection {
        height: 140px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .title {
        padding: 20px 20px 5px 20px;
    }
    .sec-15 .img-collection img {
        width: 80%;
        height: 80%;
    }
    .sec-15 .details {
        width: 80%;
        margin: 8px auto 20px auto;
    }
    .sec-15 .details .description p {
        font-size: 11px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .details .profile img {
        width: 35px;
        height: 35px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .collection .search .form-control {
        padding: 9px !important;
        font-size: 9px;
        transition: .5s all ease-in-out;
    }
    .sec-15 .menu a {
        color: #ececeb;
        text-decoration: none;
        font-size: 15px;
        transition: .5s all ease-in-out;
    }
}


/* End Post & Saved */