/* Main color #1b1c1e
Secend color #ececeb
Third color #bfbfbf
other #5d0088 & #003380
width,height,background,margin,padding,font*/


/* Start General Setting */

@font-face {
    font-family: Open Sans regular;
    src: url("../Fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: Open Sans bold;
    src: url("../Fonts/OpenSans-Semibold.ttf");
}

body {
    font-family: Open Sans regular;
    background-color: #1b1c1e;
}


/* End General Setting */


/* Start Navbar */

header .container {
    max-width: 1450px !important;
}

header .navbars {
    background-color: #1b1c1e !important;
}

header .navbars .navbar-toggler {
    background-color: #bfbfbf;
    transition: 0.3s;
}

header .navbars .navbar-toggler:hover {
    background-color: #ececeb;
    transition: 0.3s;
}

header .navbars h1 {
    color: #ececeb !important;
    margin: auto 0;
    font-size: 24px;
    font-family: Open Sans bold;
}

header .navbars img {
    width: 30px;
    height: 30px;
    margin: -5px 10px auto 0;
}

header .navbars ul {
    margin: auto !important;
}

header .navbars li {
    padding: 2px 8px !important;
}

header .navbars a {
    color: #bfbfbf !important;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s;
}

header .navbars a:hover {
    color: #ececeb !important;
    transition: 0.3s;
}

header #login p {
    display: inline;
    color: #ececeb;
    padding: 0 2px;
    font-size: 14px;
}


/* End Navbar */


/* Start Sec1 */

.sec-1 {
    width: 100%;
    height: 800px;
    background-image: url("../img/section/sec1/sec1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #ececeb;
    text-align: center;
}

.sec-1 .title {
    padding: 40px;
}

.sec-1 .title h1 {
    font-size: 100px;
    font-family: Open Sans bold;
}

.sec-1 .title p {
    font-size: 20px;
}

.sec-1 .search {
    width: 70%;
    height: 420px;
    background-color: rgba(27, 28, 30, 0.8);
    margin: auto;
    border-radius: 30px;
}

.sec-1 .search .cont1 {
    width: 90%;
    margin: auto;
}

.sec-1 .search h2 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 50px;
    font-family: Open Sans bold;
}

.sec-1 .search p {
    font-size: 19px;
}

.sec-1 .search .search-box {
    margin-top: 60px;
}

.sec-1 .search .input-group {
    width: 65% !important;
    margin: auto !important;
}

.sec-1 .search .form-control {
    background-color: #ececeb !important;
    padding: 15px;
    border: none;
    border-radius: 20px 0 0 20px !important;
    font-size: 16px;
    transition: 0.3s;
}

.sec-1 .search .form-control:hover {
    background-color: rgba(236, 236, 235, 0.8) !important;
    transition: 0.3s;
}

.sec-1 .search .form-control:focus {
    color: #1b1c1e !important;
    box-shadow: 0 0 0 .25rem rgb(93, 0, 136, 0.4) !important;
    border: 0px !important;
    transition: 0.3s;
}

.sec-1 .search .input-group> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 0 !important;
}

.sec-1 .search .btn {
    background-color: #5d0088;
    padding: 0px 20px;
    border: none;
    border-radius: 0 10px 10px 0 !important;
    transition: 0.3s;
}

.sec-1 .search .btn:hover {
    background-color: rgba(93, 0, 136, 0.6);
    transition: 0.3s;
}

.sec-1 .search .btn:focus {
    background-color: rgba(93, 0, 136, 0.6);
    transition: 0.3s;
}

.sec-1 .search svg {
    color: #ececeb;
}


/* End Sec1 */


/* Start Sec13 */

.sec-13 {
    background-color: #ececeb;
    color: #1b1c1e;
    margin-top: 12px;
}

.sec-13 .container {
    max-width: 1500px;
}

.sec-13 .r-search {
    background-color: #1b1c1e;
    color: #ececeb;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    border: 2px solid #1b1c1e;
    border-radius: 30px;
    transition: 0.4s ease-out;
}
.sec-13 .r-search:hover {
    transition: 0.4s ease-in;
    background-color:#000000;
}

.sec-13 .title {
    display: flex;
    align-items: center;
}

.sec-13 .title img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    border-radius: 50px;
}

.sec-13 .title h2 {
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
}

.sec-13 h4 {
    font-size: 20px;
    margin-left: 10px;
}

.sec-13 .stars svg {
    color: rgb(255, 234, 0) !important;
    width: 25px;
    height: 25px;
}

.sec-13 .stars svg:first-child {
    padding-left: 10px;
}

.sec-13 .v-profile {
    width: 95px;
    height: 35px;
    background-image: url("../img/home/button.png");
    background-color: rgba(0, 0, 0, 0);
    color: #ececeb;
    margin: 10px 0 0 10px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    transition: 0.3s;
}

.sec-13 .v-profile:hover {
    opacity: 0.85;
    transition: 0.3s;
}

.sec-13 a {
    color: #ececeb;
    text-decoration: none;
}


/* End Sec13 */


/* Start Footer */

footer .menu {
    width: 100%;
    height: 250px;
    background-color: #1b1c1e;
}

footer .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 35px;
    padding-left: 0px !important;
}

footer .menu ul li h1 {
    color: #ececeb;
    font-size: 17px;
    font-weight: bold;
}

footer .menu ul li a {
    color: #ececeb;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

footer .menu ul li a:hover {
    color: #bfbfbf;
    transition: 0.3s;
}

footer .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #bfbfbf !important;
    text-align: center;
}

footer .icon svg {
    color: #1b1c1e;
    padding: 0 8px;
    font-size: 25px;
    transition: 0.3s;
}

footer .icon svg:hover {
    color: #ececeb;
    transition: 0.3s;
}


/* End Footer */