{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block style %}

  .filter-container{
    background-color:#330033;
    width:90%;
    height:min-content;
    box-shadow:0 0 10px black;
    transition:0.4s ease-out;
  }

  .filter-link{
    opacity:0%;
    transition:0.4s ease-out;
    
  }

  .ft{
    height:100%;
    width:100%;
    transition:0.4s ease-out;
    padding-top:8px;
  }

  
  .filter-container:hover{
    background-color:black;
    box-shadow: 0 0 30px black;
    width:88%;
    height:min-content;
  }


  .filter-container:hover .filter-link{
    opacity:100%;
    transition:0.4s ease-out;
  }


  .container{
    width:90%;
    padding:10px;
  }
  .box{
    width:190px;
    height:210px;
    transition:0.4s ease-out;
    background-color:#330033;
    float:left;
    margin:2%;
  }
  .image{
    max-height:210px;
    max-width:190px;
    transition:0.4s ease-out;

  }
  .box:hover .image{
    max-height:170px;
    max-width:170px;
    opacity:90%;
    box-shadow:20px 0px 0px black;

  }
      
  .box:hover .image-info{
    opacity:100%;
    transition:0.4s ease-out;
  }
  .box:hover{
    background-color:transparent;
    border:solid 1px black;
    background-color:rgba(0, 0, 0, 0.246);
    box-shadow:0 0 10px #330033;
  }
  .image-info{
    width:100%;
    height:min-content;
    transition:0.4s ease-out;
    opacity:0%;
  }
 
  h3{
    text-transfrom:capitalize;  
    margin:0;
  }
  .inline-link-1{
    width:max-content;
    padding:4px;
    margin:13px;
    box-shadow:0 0 7px #330033;
  }
  .inline-link-1:hover{
    width:max-content;
    padding:4px;
    margin:13px;
    box-shadow:0 0 50px black;

  }


{% endblock %}

{% block content %}
<!-- <center>
  <div class="filter-container">
    <div class='ft'>
      <h1 class='content-text-white'>
        Looking for something more specific?
      </h1>
    </div>
    <div class="filter-link">
      <h2 class='content-text-white'>
        Click the button bellow to filter your search
      </h2>
      <a href="">
        <button style="padding:3px; width:16rem; font-size:2em;text-decoration: bold;" class="inline-link-1">
          Filter
        </button>
      </a>
    </div>
  </div>
</center> -->
<center>
<h1 class='content-text-black'>Find your favorite braid design..</h1>
</center>
  <div class="container">
    {% for i in images %}
      <div class="box">
        <img class="image" src='{{url_for("static", filename="images/normal-design-braid/" + i )}}' alt="braidstarz logo"> 
          <div class="image-info">
            <a href="{{url_for('collection_page')}}">
              <center>
                <button class="inline-link-1">
                  <b>
                    Click For Details  
                  </b>
                </button>
              </center>
            </a>
          </div>
        </div>  
    {% endfor %}  
  </div>



{% endblock %}