{% extends 'base.html' %}

{% block title %}
 Contact us | BRAIDSTARZ
{% endblock %}

{% block style %}
 .con-container{
    width:80%;
    height:max-content;
    border-radius:15px;
    background-color:#b9b9b9;
    box-shadow:0 0 15px #330033;
    padding:8px;
    margin:10px;
    right:10%;
}

.cool-text:hover{
        color: #330033;
        border-radius: 5px;
        transition: 0.3s ease-out;

    }
{% endblock %}

{% block content %}
  <center>
    <div class="con-container">
      <h1 class="content-text-black">
        Communicate with us!
      </h1>
      <br>
      <p style="margin:2rem;font-size:1.5em;" class="content-text-black">
        Feel comfortable to tell us your thoughts & ideas about braidstarz.
      </p>
      <p style="margin:2rem;font-size:1.8em;" class="content-text-black">
        for advertising, promotion or anything else, send us Email.
      </p>
      <p style="margin:2rem;font-size:1.7em;" class="content-text-black">
        our team will get back to you as soon as possible!
      </p>
      <div class="form-container">
        <form method="POST">

          {{ form.hidden_tag() }}

          {{ form.name.label(class='content-text-black', style='font-size:2em;') }}<br>
          {{ form.name(class='input-text-black') }}

          {{ form.email.label(class='content-text-black', style='font-size:2em;') }}<bR>
          {{ form.email(class='input-text-black') }}

          {{ form.message.label(class='content-text-black', style='font-size:2em;') }}<br>
          {{ form.message(style='height:16rem;', class='input-text-black') }}

          {{ form.submit(class='inline-link-1') }}<br>

        </form>
        <br><br>
      </div>
    </div>
    <br><br>
    <div class="con-container">
      <h1 class="content-text-black">
        Follow us on social media!
      </h1>
      <br>
      <h5 style="text-align:left; font-weight:600; padding:3px; font-size:2.5rem;" class="content-text-black">
        Instagram ID: <a target="_blank" href="https://www.instagram.com/braidstarz" class="cool-text">@braidstarz</a>
      </h5>
      <br>
      <h5 style="text-align:left; font-weight:600; padding:3px; font-size:2.5rem;" class="content-text-black">
        Twitter ID: <a target="_blank" href="https://www.instagram.com/braidstarz" class="cool-text">@braidstarz</a>
      </h5>
      <br>
      <h5 style="text-align:left; font-weight:600; padding:3px; font-size:2.5rem;" class="content-text-black">
        Our email Address: <b class="cool-text">braidstarz@gmail.com</b>
      </h5>
    </div>
  </center>
{% endblock %}