{% extends 'base.html' %}

{% block title %}
  NFTs | Coming soon | BRAIDSTARZ
{% endblock %}

{% block style %}
  .container {
    height:max-content;
    width:90%;
    box-shadow:0 0 10px #330033;
  }
{% endblock %}

{% block content %}
  <center>
    <div class="container">
      <h1 class="content-text-black">
        BRAIDSTARZ NFTs!
      </h1>
      <br>
      <h2 class="cool-text">
        Here is for cool & unbelievable Braid NFTs.
        <br><br>
        Subscribe to be aware of release date of our NFTs:
      </h2>
      <br>
      <a href="#footer-email-btn">
        <button class="inline-link-1">
          Subscribe
        </button>
      </a>
      <br><br>
    </div>
    <br><br>
  </center>
{% endblock %}