{% extends 'base.html' %}

{% block title %}
  Create braider account | BRAIDSTARZ
{% endblock %}

{% block style %}
  .register-div {
      width:80%;
  }
{% endblock %}

{% block content %}
  <center>
  <div class="register-div">
    <h2 class="content-text-black">
      Create braider account!
    </h2>
    <br>
    <h5 style="font-size:2rem" class="content-text-black">
      The information you enter, help us to show it to customers near you.<br>So for a better experience
      for you and us,
    </h5>
    <h4 style="font-size:2.2rem" class="content-text-black">
      please enter the <b class="cool-text">INFORMATION CORRECTLY.</b>
    </h4>

      <form method="POST" class="form-register" style="color:black;">

        {{ form.hidden_tag() }}

        {{ form.username.label(class="content-text-black", style="font-size:2rem;") }}<br>
        {{ form.username(class="input-text-black", placeholder="braider123...") }}<br>

        {{ form.fullname.label(class="content-text-black", style="font-size:2rem;") }}<br>
        {{ form.fullname(class="input-text-black", placeholder="e.g. Braid Starz") }}<br>

        {{ form.email.label(class="content-text-black", style="font-size:2rem;") }}<br>
        {{ form.email(class="input-text-black", placeholder="e.g. braidstarz@gmail.com") }}<br>

        {{ form.phone_num.label(class="content-text-black", style="font-size:2rem;") }}<br>
        {{ form.phone_num(class="input-text-black", placeholder="e.g. 0123456789") }}<br>

        {{ form.password1.label(class="content-text-black", style="font-size:2rem;") }}<br>
        {{ form.password1(class="input-text-black", placeholder="e.g. eXample990cooL") }}<br>

        {{ form.password2.label(class="content-text-black", style="font-size:2rem;") }}<br>
        {{ form.password2(class="input-text-black", placeholder="confirm password") }}<br>

        {{ form.country.label(class="content-text-black", style="font-size:2rem;") }}<br>
        {{ form.country(class="input-text-black", placeholder="e.g. United States") }}<br>

        {{ form.city.label(class="content-text-black", style="font-size:2rem;") }}<br>
        {{ form.city(class="input-text-black", placeholder="e.g. New York") }}<br>

        {{ form.address.label(class="content-text-black", style="font-size:2rem;") }}<br>
        {{ form.address(class="input-text-black", placeholder="you or your salon address(optional)") }}<br>

        {{ form.website.label(class="content-text-black", style="font-size:2rem;") }}<br>
        {{ form.website(class="input-text-black", placeholder="e.g. braidstarz.com(optional)") }}<br>

        {{ form.instagram.label(class="content-text-black", style="font-size:2rem;") }}<br>
        {{ form.instagram(class="input-text-black", placeholder="e.g. braidstarz(optional)") }}<br>

        {{ form.twitter.label(class="content-text-black", style="font-size:2rem;") }}<br>
        {{ form.twitter(class="input-text-black", placeholder="e.g. braidstarz(optional)") }}<br>

        {{ form.youtube.label(class="content-text-black", style="font-size:2rem;") }}<br>
        {{ form.youtube(class="input-text-black", placeholder="...(optional)") }}<br>

        <br><br>
        {{ form.submit(style="font-weight:bold; box-shadow:0 0 8px #330033;height:6rem;" ,class="inline-link-1") }}

      </form>
    </div>
      <h4 style="color:black; margin:-10px 0px 10px 0px; font-size:1.7rem; text-align:center;" class="content-text-black">
        <br>already have an account?
      </h4>
      <a href="{{ url_for('login_page') }}">
        <button style="font-weight:bold;width:20%; margin:-40px;box-shadow:0 0 8px #330033;" class="inline-link-1">
          login
        </button>
      </a><br><br>
  </center>
{% endblock %}