<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>youtube | coming soon | BRAIDSTARZ </title>
</head>
<body>

</body>
</html>
{% extends 'base.html' %}

{% block title %}
  Youtube | Coming soon | BRAIDSTARZ
{% endblock %}

{% block style %}
  .container {
    height:max-content;
    width:90%;
    box-shadow:0 0 10px #330033;
  }
{% endblock %}

{% block content %}
  <center>
    <div class="container">
      <h1 class="content-text-black">
        Youtube braiders interview!
      </h1>
      <br>
      <h2 class="cool-text">
        In this page, soon we post interview youtube videos that we had with great braiders.
        <br><br>
        Subscribe to be aware of release date of <i class="cool-text">Braiders interview</i>:
      </h2>
      <br>
      <a href="#footer-email-btn">
        <button class="inline-link-1">
          Subscribe
        </button>
      </a>
      <br><br>
    </div>
    <br><br>
  </center>
{% endblock %}